{% extends "kakeibo/base.html" %}
{% load humanize %}
{% block title %}
    Analysis list
{% endblock %}

{% block body %}

  <div class="container-fluid">
    <hr>
    <div class="row">
      <div class="col-10">
        <h1>
          <i class="fas fa-chart-line"></i> Analysis list
        </h1>
      </div>
      <div class="col-2">
        <!--<button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#stocks">-->
          <!--<i class="far fa-plus-square"></i> Stocks-->
        <!--</button>-->
      </div>
    </div>
    <hr>


    <!-- Overview -->
    <h2>Overview</h2>
    <div class="row">
      {% for code, stock in stocks.items %}
      <div class="col-md-4">
        <div class="box2">
          <h5><a href="{% url 'asset:analysis_detail' code=code %}">{{stock.name}}</a></h5>
          <table class="table table-light table-sm table-hover">
            <tr>
              <td>
                {%if stock.trend.is_upper_25%}
                <span class="badge badge-success">
                  上昇（25日）<span class="badge badge-light">{{stock.trend.period_25}}</span>
                </span>
                {%else%}
                <span class="badge badge-danger">
                  下落（25日）<span class="badge badge-light">{{stock.trend.period_25}}</span>
                </span>
                {%endif%}
              </td>
              <td>
                {%if stock.trend.is_upper_75%}
                <span class="badge badge-success">
                  上昇（75日）<span class="badge badge-light">{{stock.trend.period_75}}</span>
                </span>
                {%else%}
                <span class="badge badge-danger">
                  下落（75日）<span class="badge badge-light">{{stock.trend.period_75}}</span>
                </span>
                {%endif%}
              </td>
            </tr>
            <tr>
              <td colspan="2">
                {%if stock.mark.0 %}<span class="badge badge-warning">たくり線</span>{%endif%}
                {%if stock.mark.1 %}<span class="badge badge-warning">包線</span>{%endif%}
                {%if stock.mark.2 %}<span class="badge badge-warning">はらみ線</span>{%endif%}
                {%if stock.mark.3 %}<span class="badge badge-warning">上げ三法</span>{%endif%}
                {%if stock.mark.4 %}<span class="badge badge-warning">三空叩き込み</span>{%endif%}
                {%if stock.mark.5 %}<span class="badge badge-warning">三手大陰線</span>{%endif%}
              </td>
            </tr>
            <tr>
              <th>銘柄コード</th>
              <td>{{code}}</td>
            </tr>
            <tr>
              <th>終値 (前日比)</th>
              <td>¥{{stock.val_end | intcomma}} ({{stock.val_end_diff_percent | intcomma}}%)</td>
            </tr>
            <tr>
              <th>出来高 (前日比)</th>
              <td>{{stock.turnover | intcomma}} ({{stock.turnover_diff_percent | intcomma}}%)</td>
            </tr>
          </table>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>


{% endblock %}
