{% extends "kakeibo/base.html" %}
{% load humanize %}
{% block title %}
    Asset dashboard test
{% endblock %}

{% block body %}

<style>

    body {
        font: 10px sans-serif;
    }

    path.candle {
        stroke: #000000;
    }

    path.candle.body {
        stroke-width: 0;
    }

    path.candle.up {
        fill: #00AA00;
        stroke: #00AA00;
    }

    path.candle.down {
        fill: #FF0000;
        stroke: #FF0000;
    }

    .y.annotation.left path {
        fill: #00AA00;
    }

    .y.annotation.right path {
        fill: #FF0000;
    }

    .x.annotation path {
        fill: #DDD80E;
    }

    .crosshair {
        cursor: crosshair;
    }

    .crosshair path.wire {
        stroke: #DDDDDD;
        stroke-dasharray: 1, 1;
    }

    .crosshair .axisannotation path {
        fill: #DDDDDD;
    }

</style>

  <div class="container-fluid">
    <hr>
    <div class="row">
      <div class="col-10">
        <h1>
          <i class="fas fa-chart-line"></i> {{stock.code}} {{stock.name}}
        </h1>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#stocks">
          <i class="far fa-plus-square"></i> Stocks
        </button>
      </div>
    </div>
    <hr>


    <!-- Overview -->
    <h2>Overview</h2>
    <div class="row">
      <div class="col-sm-8">
        <canvas id="line" width="300" height="150"></canvas>
      </div>
      <div class="col-sm-4">
        <table class="table table-light table-hover table-sm">
          <tr>
            <th>たくり線・勢力線 下ひげ</th>
            <td>◯</td>
          </tr>
          <tr>
            <th>包み線 前日レンジを完全に包む値動き</th>
            <td>☓</td>
          </tr>
          <tr>
            <th>はらみ線 前日レンジ内での値動き</th>
            <td>◯</td>
          </tr>
          <tr>
            <th>上げ三法 大陽線後、三本の陰線</th>
            <td>☓</td>
          </tr>
          <tr>
            <th>三空叩き込み 陰線4本が窓空きで出る</th>
            <td>◯</td>
          </tr>
          <tr>
            <th>三手大陰線 三本の大陰線</th>
            <td>☓</td>
          </tr>
          <tr>
            <th>終値前日比</th>
            <td>¥ {{df.val_end_diff.0}}</td>
          </tr>
          <tr>
            <th>出来高前日比</th>
            <td>{{df.turnover_diff.0}}</td>
          </tr>
        </table>
      </div>
    </div>


    <hr>
    <h2>データ</h2>
    <div class="row">
      <!--<div class="col-sm-6">-->
        <!--<table class="table table-light table-hover table-sm">-->
          <!--<thead>-->
            <!--<tr>-->
              <!--<th>日付</th>-->
              <!--<th class="right">始値</th>-->
              <!--<th class="right">高値</th>-->
              <!--<th class="right">低値</th>-->
              <!--<th class="right">終値</th>-->
              <!--<th class="right">出来高</th>-->
            <!--</tr>-->
          <!--</thead>-->
          <!--<tbody>-->
            <!--{% for sdbd in sdbds.reverse %}-->
            <!--<tr>-->
              <!--<td>{{sdbd.date}}</td>-->
              <!--<td class="right">¥ {{sdbd.val_start| intcomma}}</td>-->
              <!--<td class="right">¥ {{sdbd.val_high| intcomma}}</td>-->
              <!--<td class="right">¥ {{sdbd.val_low| intcomma}}</td>-->
              <!--<td class="right">¥ {{sdbd.val_end| intcomma}}</td>-->
              <!--<td class="right">{{sdbd.turnover| intcomma}}</td>-->
            <!--</tr>-->
            <!--{% endfor %}-->
          <!--</tbody>-->
        <!--</table>-->
      <!--</div>-->

      <div class="col-sm-8">
        <table class="table table-light table-hover table-sm">
          <thead>
            <tr>
              <th>日付</th>
              <th class="right">始値</th>
              <th class="right">高値</th>
              <th class="right">低値</th>
              <th class="right">終値</th>
              <th class="right">終値前日比</th>
              <th class="right">出来高</th>
              <th class="right">出来高前日比</th>
            </tr>
          </thead>
          <tbody>
            {% for i,r in df.iterrows %}
            <tr>
              <td>{{r.date}}</td>
              <td class="right">¥ {{r.val_start| intcomma}}</td>
              <td class="right">¥ {{r.val_high| intcomma}}</td>
              <td class="right">¥ {{r.val_low| intcomma}}</td>
              <td class="right">¥ {{r.val_end| intcomma}}</td>
              <td class="right">¥ {{r.val_end_diff| intcomma}}</td>
              <td class="right">{{r.turnover| intcomma}}</td>
              <td class="right">{{r.turnover_diff| intcomma}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <!-- Modal add_investment-->
  <div class="modal fade" id="stocks" tabindex="-1" role="dialog" aria-labelledby="stocks" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="stocks_Label">Stocks</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-light table-hover table-sm">
            <thead>
              <tr>
                <th>Code</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              {% for s in stocks %}
              <tr>
                  <td><a href="{%url 'asset:analysis'%}?code={{s.code}}">{{s.code}}</a></td>
                  <td>{{s.name}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


<!-- line -->
<script>
  var ctx = document.getElementById('line').getContext('2d');
  var options = {
    responsive: true,
    scales: {
      yAxes: [{
        id: "y-axis-1",   // Y軸のID
        type: "linear",   // linear固定
        position: "left", // どちら側に表示される軸か？
      },
      {
        id: "y-axis-2",
        type: "linear",
        position: "right",
      }],
    }
  }
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [{%for s in sdbds%}"{{s.date}}",{%endfor%}],
      datasets: [
          {
              type: "bar",
              label: '出来高',
              data: [
                  {%for s in sdbds%}{{s.turnover}},{%endfor%}
              ],
              backgroundColor: "rgba(255,153,0, 0.4)",
              yAxisID: "y-axis-2",
          },
          {
              type: "line",
              label: '終値',
              data: [
                  {%for s in sdbds%}{{s.val_end}},{%endfor%}
              ],
              backgroundColor: "rgba(255,3,150, 0.4)",
              borderColor: "rgba(255,3,150, 0.4)",
              fill: false,
              yAxisID: "y-axis-1",
          },
      ],
    },
    options: options,
  });
</script>

<!--TechanJS-->
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="http://techanjs.org/techan.min.js"></script>
<!--https://goodbyegangster.hatenablog.com/entry/2017/02/23/214850-->
<script>

    var margin = {top: 20, right: 50, bottom: 30, left: 50},
            width = 960 - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom;

    var parseDate = d3.timeParse("%d-%b-%y");

    var x = techan.scale.financetime()
            .range([0, width]);

    var y = d3.scaleLinear()
            .range([height, 0]);

    var candlestick = techan.plot.candlestick()
            .xScale(x)
            .yScale(y);

    var xAxis = d3.axisBottom(x);

    var xTopAxis = d3.axisTop(x);

    var yAxis = d3.axisLeft(y);

    var yRightAxis = d3.axisRight(y);

    var ohlcAnnotation = techan.plot.axisannotation()
            .axis(yAxis)
            .orient('left')
            .format(d3.format(',.2f'));

    var ohlcRightAnnotation = techan.plot.axisannotation()
            .axis(yRightAxis)
            .orient('right')
            .translate([width, 0]);

    var timeAnnotation = techan.plot.axisannotation()
            .axis(xAxis)
            .orient('bottom')
            .format(d3.timeFormat('%Y-%m-%d'))
            .width(65)
            .translate([0, height]);

    var timeTopAnnotation = techan.plot.axisannotation()
            .axis(xTopAxis)
            .orient('top');

    var crosshair = techan.plot.crosshair()
            .xScale(x)
            .yScale(y)
            .xAnnotation([timeAnnotation, timeTopAnnotation])
            .yAnnotation([ohlcAnnotation, ohlcRightAnnotation])
            .on("enter", enter)
            .on("out", out)
            .on("move", move);

    var svg = d3.select("body").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var coordsText = svg.append('text')
            .style("text-anchor", "end")
            .attr("class", "coords")
            .attr("x", width - 5)
            .attr("y", 15);

    d3.csv("/document/data.csv", function(error, data) {
        var accessor = candlestick.accessor();

        data = data.slice(0, 200).map(function(d) {
            return {
                date: parseDate(d.Date),
                open: +d.Open,
                high: +d.High,
                low: +d.Low,
                close: +d.Close,
                volume: +d.Volume
            };
        }).sort(function(a, b) { return d3.ascending(accessor.d(a), accessor.d(b)); });
        console.log(data)
        x.domain(data.map(accessor.d));
        y.domain(techan.scale.plot.ohlc(data, accessor).domain());

        svg.append("g")
                .datum(data)
                .attr("class", "candlestick")
                .call(candlestick);

        svg.append("g")
                .attr("class", "x axis")
                .call(xTopAxis);

        svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis);

        svg.append("g")
                .attr("class", "y axis")
                .call(yAxis);

        svg.append("g")
                .attr("class", "y axis")
                .attr("transform", "translate(" + width + ",0)")
                .call(yRightAxis);

        svg.append("g")
                .attr("class", "y annotation left")
                .datum([{value: 74}, {value: 67.5}, {value: 58}, {value:40}]) // 74 should not be rendered
                .call(ohlcAnnotation);

        svg.append("g")
                .attr("class", "x annotation bottom")
                .datum([{value: x.domain()[30]}])
                .call(timeAnnotation);

        svg.append("g")
                .attr("class", "y annotation right")
                .datum([{value: 61}, {value:52}])
                .call(ohlcRightAnnotation);

        svg.append("g")
                .attr("class", "x annotation top")
                .datum([{value: x.domain()[80]}])
                .call(timeTopAnnotation);

        svg.append('g')
                .attr("class", "crosshair")
                .datum({ x: x.domain()[80], y: 67.5 })
                .call(crosshair)
                .each(function(d) { move(d); }); // Display the current data

        svg.append('text')
                .attr("x", 5)
                .attr("y", 15)
                .text("Facebook, Inc. (FB)");
    });

    function enter() {
        coordsText.style("display", "inline");
    }

    function out() {
        coordsText.style("display", "none");
    }

    function move(coords) {
        coordsText.text(
            timeAnnotation.format()(coords.x) + ", " + ohlcAnnotation.format()(coords.y)
        );
    }

</script>
{% endblock %}
