{% extends "kakeibo/base.html" %}
{% load humanize %}
{% block title %}
    Analysis detail
{% endblock %}

{% block body %}

  <div class="container-fluid">
    <hr>
    <div class="row">
      <div class="col-sm-10">
        <h1>
          <i class="fas fa-chart-line"></i> {{stock.code}} {{stock.name}}
        </h1>
      </div>
      <div class="col-sm-2">
        <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#stocks">
          <i class="far fa-plus-square"></i> Stocks
        </button>
        <button type="button" class="btn btn-secondary btn-block" onClick=location.href="{%url 'asset:analysis_list' %}">
          <i class="far fa-caret-square-left"></i> Back to list
        </button>
      </div>
    </div>
    <hr>


    <!-- Overview -->
    <h2>Overview{%if length%} ({{length}}日分){%endif%}</h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="box2">
          <label>Range of data length <span class="badge badge-info" id="value_data_length">{%if length%}{{length}}{%endif%}</span>
          <input type="range" class="form-control-range" id="range_data_length"  value="{{length}}" min="10" max="200" step="10">
        </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div>
          <h4>ローソク</h4>
          <canvas id="canvas" width="300" height="300"></canvas>
        </div>
        <div>
          <h4>分析</h4>
          <canvas id="analysis" width="300" height="150"></canvas>
        </div>
        <div>
          <h4>出来高と終値前日比</h4>
          <canvas id="diff" width="300" height="150"></canvas>
        </div>

      </div>

      <div class="col-md-4">
        <h4>状態</h4>
        <table class="table table-light table-hover table-sm">
          <tr>
            <td colspan="2">
                {%if trend.is_upper_25%}
                <span class="badge badge-success">
                  25日トレンド <i class="fas fa-level-up-alt"></i> <span class="badge badge-light">{{trend.period_25}}日継続中</span>
                </span>
                {%else%}
                <span class="badge badge-danger">
                   25日トレンド <i class="fas fa-level-down-alt"></i> <span class="badge badge-light">{{trend.period_25}}日継続中</span>
                </span>
                {%endif%}
                {%if trend.is_upper_75%}
                <span class="badge badge-success">
                  75日トレンド <i class="fas fa-level-up-alt"></i> <span class="badge badge-light">{{trend.period_75}}日継続中</span>
                </span>
                {%else%}
                <span class="badge badge-danger">
                  75日トレンド <i class="fas fa-level-down-alt"></i> <span class="badge badge-light">{{trend.period_75}}日継続中</span>
                </span>
                {%endif%}
              </td>
          </tr>
          <tr>
            <th>たくり線</th>
            <td><span class="badge badge-warning badge-md">{{mark.0}}</span></td>
          </tr>
          <tr>
            <th>包み線</th>
            <td><span class="badge badge-warning">{{mark.1}}</span></td>
          </tr>
          <tr>
            <th>はらみ線</th>
            <td><span class="badge badge-warning">{{mark.2}}</span></td>
          </tr>
          <tr>
            <th>上げ三法</th>
            <td><span class="badge badge-warning">{{mark.3}}</span></td>
          </tr>
          <tr>
            <th>三空叩き込み</th>
            <td><span class="badge badge-warning">{{mark.4}}</span></td>
          </tr>
          <tr>
            <th>三手大陰線</th>
            <td><span class="badge badge-warning">{{mark.5}}</span></td>
          </tr>
          <tr>
            <th>直近ゴールデンクロス</th>
            <td>{{cross.recent_golden | naturalday}}</td>
          </tr>
          <tr>
            <th>直近デッドクロス</th>
            <td>{{cross.recent_dead | naturalday}}</td>
          </tr>
        </table>
      </div>
    </div>


    <hr>
    <h2>データ</h2>
    <div class="row">

      <div class="col-sm-12">
        <table class="table table-light table-hover table-sm">
          <thead>
            <tr>
              <th>日付</th>
              <th class="right">始値</th>
              <th class="right">高値</th>
              <th class="right">低値</th>
              <th class="right">終値</th>
              <th class="right">終値前日比</th>
              <th class="right">出来高</th>
              <th class="right">出来高前日比</th>
              <th class="right">上ヒゲ</th>
              <th class="right">下ヒゲ</th>
            </tr>
          </thead>
          <tbody>
            {% for i,r in df_ascending_reverse.iterrows %}

            <tr>
              <td>{{r.date}}</td>
              <td class="right">¥ {{r.val_start| intcomma}}</td>
              <td class="right">¥ {{r.val_high| intcomma}}</td>
              <td class="right">¥ {{r.val_low| intcomma}}</td>
              <td class="right">¥ {{r.val_end| intcomma}}</td>
              <td class="right">¥ {{r.val_end_diff| intcomma}} ({{r.val_end_diff_percent}}%)</td>
              <td class="right">{{r.turnover| intcomma}}</td>
              <td class="right">{{r.turnover_diff| intcomma}} ({{r.turnover_diff_percent}}%)</td>
              <td class="right">{{r.upper_mustache | intcomma}}</td>
              <td class="right">{{r.lower_mustache | intcomma}}</td>
            </tr>

            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <!-- Modal add_investment-->
  <div class="modal fade" id="stocks" tabindex="-1" role="dialog" aria-labelledby="stocks" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="stocks_Label">Stocks</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-light table-hover table-sm">
            <thead>
              <tr>
                <th>Code</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              {% for s in stocks %}
              <tr>
                  <td><a href="{%url 'asset:analysis_detail' code=s.code%}">{{s.code}}</a></td>
                  <td>{{s.name}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


<!-- diff -->
<script>
var ctx = document.getElementById('diff').getContext('2d');
var options = {
  responsive: true,
  scales: {
    yAxes: [{
      id: "y-axis-1",   // Y軸のID
      type: "linear",   // linear固定
      position: "left", // どちら側に表示される軸か？
    },
    {
      id: "y-axis-2",
      type: "linear",
      position: "right",
      display: false,
    }],
    xAxes: [{
      display: false,
    }]
  }
}

if (window.innerWidth > 768) {
  ctx.canvas.width = 1000;
  ctx.canvas.height = 350;
}else{
  ctx.canvas.width = 450;
  ctx.canvas.height = 450;
}

var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: [{%for i, s in df_ascending.dropna.iterrows%}"{{s.date}}",{%endfor%}],
    datasets: [
        {
            type: "bar",
            label: '出来高',
            data: [
                {%for i, s in df_ascending.dropna.iterrows%}{{s.turnover_diff}},{%endfor%}
            ],
            backgroundColor: "rgba(255,153,0, 0.4)",
            yAxisID: "y-axis-2",
        },
        {
            type: "line",
            label: '終値',
            data: [
                {%for i, s in df_ascending.dropna.iterrows%}{{s.val_end_diff}},{%endfor%}
            ],
            backgroundColor: "rgba(255,3,150, 0.4)",
            borderColor: "rgba(255,3,150, 0.4)",
            fill: false,
            yAxisID: "y-axis-1",
        },
    ],
  },
  options: options,
});
</script>


<!-- analysis -->
<script src="/document/fill_between.js"></script>
<script>
Chart.pluginService.register(fillBetweenLinesPlugin);
var ctx = document.getElementById('analysis').getContext('2d');
var options = {
  responsive: true,
  scales: {
    yAxes: [{
      id: "y-axis-1",   // Y軸のID
      type: "linear",   // linear固定
      position: "left", // どちら側に表示される軸か？
    },
    {
      id: "y-axis-2",
      type: "linear",
      position: "right",
      display: false,
    }],
    xAxes: [{
      display: false,
    }]
  }
}

if (window.innerWidth > 768) {
  ctx.canvas.width = 1000;
  ctx.canvas.height = 350;
}else{
  ctx.canvas.width = 450;
  ctx.canvas.height = 450;
}

var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: [{%for i, s in df_ascending.dropna.iterrows%}"{{s.date}}",{%endfor%}],
    datasets: [
        {
            type: "line",
            label: 'Golden Cross',
            data: [
                {% for c in cross.golden %}"{{c}}",{%endfor%}
            ],
            backgroundColor: "rgba(255, 215, 0, 1)",
            borderColor: "rgba(0, 0, 0, 1)",
            pointRadius: 7,
            //fill: false,
            showLines: false,
        },{
            type: "line",
            label: 'Dead Cross',
            data: [
                {% for c in cross.dead %}"{{c}}",{%endfor%}
            ],
            backgroundColor: "rgba(30, 30, 30, 1)",
            borderColor: "rgba(0, 0, 0, 1)",
            pointRadius: 7,
            //fill: false,
            showLines: false,
        },{
            type: "line",
            label: '終値',
            data: [
                {%for i, s in df_ascending.dropna.iterrows%}{{s.val_end}},{%endfor%}
            ],
            backgroundColor: "rgba(155,3,250, 0.4)",
            borderColor: "rgba(155,3,250, 0.4)",
            fill: false,
        },{
            type: "line",
            label: '25日移動平均線',
            data: [
                {%for i, s in df_ascending.dropna.iterrows%}{{s.ma_25}},{%endfor%}
            ],
            backgroundColor: "rgba(255,3,150, 0.4)",
            borderColor: "rgba(255,3,150, 0.4)",
            fill: false,
            pointRadius: 0,
        },{
            type: "line",
            label: '75日移動平均線',
            data: [
                {%for i, s in df_ascending.dropna.iterrows%}{{s.ma_75}},{%endfor%}
            ],

            backgroundColor: "rgba(5,253,150, 0.4)",
            borderColor: "rgba(5,253,150, 0.4)",
            fill: false,
            pointRadius: 0,
        },{
            type: "line",
            label: '+2σ',
            data: [
                {%for i, s in df_ascending.dropna.iterrows%}{{s.ma_25p2sigma}},{%endfor%}
            ],
            borderColor: "rgba(205,3,150, 0.1)",
            fill: false,
            pointRadius: 0,
            fillBetweenSet: 6,
            fillBetweenColor: "rgba(205,3,150, 0.1)"
        },{
            type: "line",
            label: '-2σ',
            data: [
                {%for i, s in df_ascending.dropna.iterrows%}{{s.ma_25m2sigma}},{%endfor%}
            ],
            borderColor: "rgba(205,3,150, 0.1)",
            fill: false,
            pointRadius: 0,
        },{
            type: "bar",
            label: '出来高',
            data: [
                {%for i, s in df_ascending.dropna.iterrows%}{{s.turnover}},{%endfor%}
            ],
            backgroundColor: "rgba(255,153,0, 0.4)",
            yAxisID: "y-axis-2",
        },
    ],
  },
  options: options,
});
</script>

<!--candlestick-->
<script src="https://www.chartjs.org/chartjs-chart-financial/moment.js"></script>
<script src="https://www.chartjs.org/chartjs-chart-financial/Chart.js"></script>
<script src="https://www.chartjs.org/chartjs-chart-financial/Chart.Financial.js"></script>
<script src="https://www.chartjs.org/chartjs-chart-financial/utils.js"></script>
<script>

var candleCount = 60;

data = [
{%for i, s in df_ascending.dropna.iterrows%}
  {
    h: {{s.val_high}},
    l: {{s.val_low}},
    o: {{s.val_start}},
    c: {{s.val_end}},
    t: new Date("{{s.date.year}}/{{s.date.month}}/{{s.date.day}}")
  },
{% endfor %}
]

// Candlestick
var ctx = document.getElementById("canvas").getContext("2d");
if (window.innerWidth > 768) {
  ctx.canvas.width = 1000;
  ctx.canvas.height = 350;
}else{
  ctx.canvas.width = 450;
  ctx.canvas.height = 450;
}
var candlestickChart = new Chart(ctx, {
	type: 'candlestick',
	data: {
      datasets: [{
        label: "{{stock.code}} {{stock.name}}",
        data: data,
        fractionalDigitsCount: 2,
      }]
	},
	options: {
	  tooltips: {
	    position: 'nearest',
	    mode: 'index',
      },
      scales: {
       xAxes: [{
        display: false,
       }]
      }
    },
});

</script>


<!--input range-->
<script>
var slider = document.getElementById("range_data_length");
var target = document.getElementById("value_data_length");

slider.addEventListener("input", function() {
    // ドラッグ中のイベント
    target.innerText = slider.value
}, false);

slider.addEventListener("change", function() {
    // マウスアップした際のイベント
    target.innerText = slider.value
    location.href = location.origin + location.pathname + "?length=" + slider.value
}, false);
</script>
{% endblock %}
