{% extends "kakeibo/base.html" %}
{% load humanize %}
{% block title %}
    Asset dashboard test
{% endblock %}

{% block body %}

  <div class="container-fluid">
    <hr>
    <div class="row">
      <div class="col-10">
        <h1>
          <i class="fas fa-chart-line"></i> {{stock.code}} {{stock.name}}
        </h1>
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#stocks">
          <i class="far fa-plus-square"></i> Stocks
        </button>
      </div>
    </div>
    <hr>


    <!-- Overview -->
    <h2>Overview</h2>
    <div class="row">
      <div class="col-sm-8">

      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <div>
          <h4>ローソク</h4>
          <canvas id="canvas" width="300" height="300"></canvas>
        </div>
        <div>
          <h4>出来高と終値</h4>
          <canvas id="line" width="300" height="150"></canvas>
        </div>
        <div>
          <h4>出来高と終値前日比</h4>
          <canvas id="diff" width="300" height="150"></canvas>
        </div>

      </div>

      <div class="col-sm-4">
        <h4>状態</h4>
        <table class="table table-light table-hover table-sm">
          <tr>
            <th>たくり線・勢力線</th>
            <td style="color:red;">{{mark.0}}</td>
          </tr>
          <tr>
            <th>包み線 前日レンジを完全に包む値動き</th>
            <td>{{mark.1}}</td>
          </tr>
          <tr>
            <th>はらみ線 前日レンジ内での値動き</th>
            <td>{{mark.2}}</td>
          </tr>
          <tr>
            <th>上げ三法 大陽線後、三本の陰線</th>
            <td>{{mark.3}}</td>
          </tr>
          <tr>
            <th>三空叩き込み 陰線4本が窓空きで出る</th>
            <td>{{mark.4}}</td>
          </tr>
          <tr>
            <th>三手大陰線 三本の大陰線</th>
            <td>{{mark.5}}</td>
          </tr>
          <tr>
            <th>終値前日比</th>
            <td>¥ {{df.val_end_diff.0}}</td>
          </tr>
          <tr>
            <th>出来高前日比</th>
            <td>{{df.turnover_diff.0}}</td>
          </tr>
        </table>
      </div>
    </div>


    <hr>
    <h2>データ</h2>
    <div class="row">
      <!--<div class="col-sm-6">-->
        <!--<table class="table table-light table-hover table-sm">-->
          <!--<thead>-->
            <!--<tr>-->
              <!--<th>日付</th>-->
              <!--<th class="right">始値</th>-->
              <!--<th class="right">高値</th>-->
              <!--<th class="right">低値</th>-->
              <!--<th class="right">終値</th>-->
              <!--<th class="right">出来高</th>-->
            <!--</tr>-->
          <!--</thead>-->
          <!--<tbody>-->
            <!--{% for sdbd in sdbds.reverse %}-->
            <!--<tr>-->
              <!--<td>{{sdbd.date}}</td>-->
              <!--<td class="right">¥ {{sdbd.val_start| intcomma}}</td>-->
              <!--<td class="right">¥ {{sdbd.val_high| intcomma}}</td>-->
              <!--<td class="right">¥ {{sdbd.val_low| intcomma}}</td>-->
              <!--<td class="right">¥ {{sdbd.val_end| intcomma}}</td>-->
              <!--<td class="right">{{sdbd.turnover| intcomma}}</td>-->
            <!--</tr>-->
            <!--{% endfor %}-->
          <!--</tbody>-->
        <!--</table>-->
      <!--</div>-->

      <div class="col-sm-12">
        <table class="table table-light table-hover table-sm">
          <thead>
            <tr>
              <th>日付</th>
              <th class="right">始値</th>
              <th class="right">高値</th>
              <th class="right">低値</th>
              <th class="right">終値</th>
              <th class="right">終値前日比</th>
              <th class="right">出来高</th>
              <th class="right">出来高前日比</th>
              <th class="right">上ヒゲ</th>
              <th class="right">下ヒゲ</th>
            </tr>
          </thead>
          <tbody>
            {% for i,r in df.iterrows %}
            {% if i < 10 %}
            <tr>
              <td>{{r.date}}</td>
              <td class="right">¥ {{r.val_start| intcomma}}</td>
              <td class="right">¥ {{r.val_high| intcomma}}</td>
              <td class="right">¥ {{r.val_low| intcomma}}</td>
              <td class="right">¥ {{r.val_end| intcomma}}</td>
              <td class="right">¥ {{r.val_end_diff| intcomma}} ({{r.val_end_diff_percent}}%)</td>
              <td class="right">{{r.turnover| intcomma}}</td>
              <td class="right">{{r.turnover_diff| intcomma}} ({{r.turnover_diff_percent}}%)</td>
              <td class="right">{{r.upper_mustache | intcomma}}</td>
              <td class="right">{{r.lower_mustache | intcomma}}</td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <!-- Modal add_investment-->
  <div class="modal fade" id="stocks" tabindex="-1" role="dialog" aria-labelledby="stocks" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="stocks_Label">Stocks</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-light table-hover table-sm">
            <thead>
              <tr>
                <th>Code</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              {% for s in stocks %}
              <tr>
                  <td><a href="{%url 'asset:analysis'%}?code={{s.code}}">{{s.code}}</a></td>
                  <td>{{s.name}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


<!-- line -->
<script>
  var ctx = document.getElementById('line').getContext('2d');
  var options = {
    responsive: true,
    scales: {
      yAxes: [{
        id: "y-axis-1",   // Y軸のID
        type: "linear",   // linear固定
        position: "left", // どちら側に表示される軸か？
      },
      {
        id: "y-axis-2",
        type: "linear",
        position: "right",
        display: false,
      }],
      xAxes: [{
        display: false,
      }]
    }
  }
  ctx.canvas.width = 1000;
  ctx.canvas.height = 350;
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [{%for s in sdbds%}"{{s.date}}",{%endfor%}],
      datasets: [
          {
              type: "bar",
              label: '出来高',
              data: [
                  {%for s in sdbds%}{{s.turnover}},{%endfor%}
              ],
              backgroundColor: "rgba(255,153,0, 0.4)",
              yAxisID: "y-axis-2",
          },
          {
              type: "line",
              label: '終値',
              data: [
                  {%for s in sdbds%}{{s.val_end}},{%endfor%}
              ],
              backgroundColor: "rgba(255,3,150, 0.4)",
              borderColor: "rgba(255,3,150, 0.4)",
              fill: false,
              yAxisID: "y-axis-1",
          },
      ],
    },
    options: options,
  });
</script>

<!-- diff -->
<script>
  var ctx = document.getElementById('diff').getContext('2d');
  var options = {
    responsive: true,
    scales: {
      yAxes: [{
        id: "y-axis-1",   // Y軸のID
        type: "linear",   // linear固定
        position: "left", // どちら側に表示される軸か？
      },
      {
        id: "y-axis-2",
        type: "linear",
        position: "right",
        display: false,
      }],
      xAxes: [{
        display: false,
      }]
    }
  }
  ctx.canvas.width = 1000;
  ctx.canvas.height = 350;
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [{%for i, s in df.iterrows%}"{{s.date}}",{%endfor%}],
      datasets: [
          {
              type: "bar",
              label: '出来高',
              data: [
                  {%for i, s in df.iterrows%}{{s.turnover_diff}},{%endfor%}
              ],
              backgroundColor: "rgba(255,153,0, 0.4)",
              yAxisID: "y-axis-2",
          },
          {
              type: "line",
              label: '終値',
              data: [
                  {%for i, s in df.iterrows%}{{s.val_end_diff}},{%endfor%}
              ],
              backgroundColor: "rgba(255,3,150, 0.4)",
              borderColor: "rgba(255,3,150, 0.4)",
              fill: false,
              yAxisID: "y-axis-1",
          },
      ],
    },
    options: options,
  });
</script>

<!--&lt;!&ndash;chart JS boxplot&ndash;&gt;-->
<!--<script src="https://unpkg.com/chart.js@2.7.3/dist/Chart.bundle.js"></script>-->
<!--<script src="https://unpkg.com/chartjs-chart-box-and-violin-plot@1.1.2/build/Chart.BoxPlot.js"></script>-->
<!--<script>-->
<!--function randomValues(count, min, max) {-->
  <!--const delta = max - min;-->
  <!--return Array.from({length: count}).map(() => Math.random() * delta + min);-->
<!--}-->
<!--console.log(randomValues(100, 0, 100))-->
<!--const boxplotData = {-->
  <!--// define label tree-->
  <!--labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],-->
  <!--datasets: [{-->
    <!--label: 'Dataset 1',-->
    <!--backgroundColor: 'rgba(255,0,0,0.5)',-->
    <!--borderColor: 'red',-->
    <!--borderWidth: 1,-->
    <!--outlierColor: '#999999',-->
    <!--padding: 10,-->
    <!--itemRadius: 0,-->
    <!--outlierColor: '#999999',-->
    <!--data: [-->
      <!--randomValues(100, 0, 100),-->
      <!--randomValues(100, 0, 20),-->
      <!--randomValues(100, 20, 70),-->
      <!--randomValues(100, 60, 100),-->
      <!--randomValues(40, 50, 100),-->
      <!--randomValues(100, 60, 120),-->
      <!--randomValues(100, 80, 100)-->
    <!--]-->
  <!--}, {-->
    <!--label: 'Dataset 2',-->
    <!--backgroundColor:  'rgba(0,0,255,0.5)',-->
    <!--borderColor: 'blue',-->
    <!--borderWidth: 1,-->
    <!--outlierColor: '#999999',-->
    <!--padding: 10,-->
    <!--itemRadius: 0,-->
    <!--outlierColor: '#999999',-->
    <!--data: [-->
      <!--randomValues(100, 60, 100),-->
      <!--randomValues(100, 0, 100),-->
      <!--randomValues(100, 0, 20),-->
      <!--randomValues(100, 20, 70),-->
      <!--randomValues(40, 60, 120),-->
      <!--randomValues(100, 20, 100),-->
      <!--randomValues(100, 80, 100)-->
    <!--]-->
  <!--}]-->
<!--};-->

  <!--var ctx = document.getElementById("canvas").getContext("2d");-->
  <!--var myChart = new Chart(ctx, {-->
    <!--type: 'boxplot',-->
    <!--data: boxplotData,-->
    <!--options: {-->
      <!--responsive: true,-->
      <!--legend: {-->
        <!--position: 'top',-->
      <!--},-->
      <!--title: {-->
        <!--display: true,-->
        <!--text: 'Chart.js Box Plot Chart'-->
      <!--}-->
    <!--}-->
  <!--});-->

<!--</script>-->

<!--candlestick-->
<script src="https://www.chartjs.org/chartjs-chart-financial/moment.js"></script>
<script src="https://www.chartjs.org/chartjs-chart-financial/Chart.js"></script>
<script src="https://www.chartjs.org/chartjs-chart-financial/Chart.Financial.js"></script>
<script src="https://www.chartjs.org/chartjs-chart-financial/utils.js"></script>
<script>

var candleCount = 60;

data = [
{% for s in sdbds %}
  {
    h: {{s.val_high}},
    l: {{s.val_low}},
    o: {{s.val_start}},
    c: {{s.val_end}},
    t: new Date("{{s.date.year}}/{{s.date.month}}/{{s.date.day}}")
  },
{% endfor %}
]
//var data = getRandomData('April 01 2017', candleCount);

// Candlestick
var ctx = document.getElementById("canvas").getContext("2d");
ctx.canvas.width = 1000;
ctx.canvas.height = 350;
var candlestickChart = new Chart(ctx, {
	type: 'candlestick',
	data: {
      datasets: [{
        label: "{{stock.code}} {{stock.name}}",
        data: data,
        fractionalDigitsCount: 2,
      }]
	},
	options: {
	  tooltips: {
	    position: 'nearest',
	    mode: 'index',
      },
      scales: {
       xAxes: [{
        display: false,
       }]
      }
    },
});

</script>
{% endblock %}
