{% extends "kakeibo/base.html" %}
{% load humanize %}
{% block title %}
    Asset dashboard test
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <hr>
    <div class="row">
      <div class="col-12">
        <h1>
          <i class="fas fa-chart-line"></i> {{msg}} （9119）飯野海運
        </h1>
      </div>
    </div>
    <hr>

    <!-- Overview -->
    <div class="row">
      <div class="col-sm-4">
        <h5>計画</h5>
        <table class="table">
          <tr>
            <th>記入日</th>
            <td>2019-05-10</td>
          </tr>
          <tr>
            <th>購入予定日</th>
            <td>2019-05-14</td>
          </tr>
          <tr>
            <th>購入金額</th>
            <td>400</td>
          </tr>
          <tr>
            <th>口数</th>
            <td>700</td>
          </tr>
          <tr>
            <th>総額</th>
            <td>280,000</td>
          </tr>
          <tr>
            <th>利益確定</th>
            <td>440 (+10.0%)</td>
          </tr>
          <tr>
            <th>損切り</th>
            <td>360 (-10.0%)</td>
          </tr>
          <tr>
            <th>Memo</th>
            <td>2019/04/18 成行買付。始値から下がり続ける。。。<br>エントリータイミングミスったなぁ。</td>
          </tr>
        </table>
      </div>
      <div class="col-sm-4">
        <h5>チャート</h5>
        <p class="resizeimage">
          <img src="https://chart.yahoo.co.jp/?code=9119.T&tm=6m&type=c&log=off&size=m&over=m25,m75&add=m,r,vm&comp=">
        </p>
      </div>
      <div class="col-sm-4">
        <h5>指標</h5>
        <table class="table">
          <tr>
            <th>EPS</th>
            <td>35.91倍 <label class="badge bg-warning">test</label> </td>
          </tr>
          <tr>
            <th>PER</th>
            <td>10.11倍</td>
          </tr>
          <tr>
            <th>PBR</th>
            <td>0.53倍 <label class="badge bg-danger">test</label></td>
          </tr>
          <tr>
            <th>時価総額</th>
            <td>40,320百万円</td>
          </tr>
          <tr>
            <!--https://profile.yahoo.co.jp/consolidate/9119-->
            <th>ROA</th>
            <td>2.17%</td>
          </tr>
          <tr>
            <th>ROE</th>
            <td>6.10% <label class="badge bg-success">test</label></td>
          </tr>
        </table>
      </div>
    </div>
  </div>


{% endblock %}
