<!--<button class="btn btn-block btn-warning" id="ajax_buy_order">-->
<!--  <i class="far fa-check-circle"></i> Buy Order-->
<!--</button>-->
{% load humanize %}
{% load web_template %}

<button class="btn btn-block btn-warning" data-toggle="modal" data-target="#confirm_buy_order">
  <i class="far fa-check-circle"></i> Buy Order
</button>
<!--modal-->
<div class="modal fade" id="confirm_buy_order" tabindex="-1" role="dialog" aria-labelledby="confirm_buy_order" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title" id="new_record_Label">
          <i class="far fa-check-circle"></i> Buy Order
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        本当に注文しますか？
        <table class="table">
          <tr>
            <th>銘柄</th>
            <td>{{entry.stock.name}}</td>
          </tr>
          <tr>
            <th>予定口数</th>
            <td>{{entry.num_plan |intcomma}}</td>
          </tr>
          <tr>
            <th>予定株価</th>
            <td>{{entry.val_plan |yen}}</td>
          </tr>
          <tr>
            <th>現在株価</th>
            <td>{{entry.stock.current_val |yen}}</td>
          </tr>
          <tr>
            <th>メモ</th>
            <td>{{entry.memo |linebreaksbr}}</td>
          </tr>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="ajax_buy_order" class="btn btn-primary" value="confirm_buy_order">OK</button>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
.hide_buy_order {
  display: none;
}
.loading_buy_order {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.5);
  background-image: url(/document/loading.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: 150px 150px;
}
</style>
<div class="loading_buy_order hide_buy_order"></div>

<script type="text/javascript">
  $('#ajax_buy_order').click(function(event){
    $.ajax({
      url: "{% url 'web:ajax_buy_order' %}",
      method: "POST",
      data: {'entry': {{entry.pk}}, },
      timeout: 10000,
      dataType: "json",
      beforeSend: function(){
				$('.loading_buy_order').removeClass('hide_buy_order');
			}
    })
    .done( function(d) {
    	$('.loading_buy_order').addClass('hide_buy_order');
    	if (d['status']==true) {
        window.alert("Success to execute buy order.");
        location.reload();
    	}else{
				window.alert("Failed to execute buy order")
			}
    })
  });
</script>