{% load static %}
<!--button-->
<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#sbialert">
  <i class="far fa-bell"></i> SBI Alert
</button>
<!--modal-->
<div class="modal fade" id="sbialert" tabindex="-1" role="dialog" aria-labelledby="sbialert" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new_record_Label">
          <i class="far fa-bell"></i> SBI Alert
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" id="ajax_sbialert">
        <div class="modal-body">
          {% csrf_token %}
          <table class="table table-responsive">
            {{sbialert_form}}
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button id="ajax_sbialert_btn" type="button" class="btn btn-primary" name="post_type" value="sbialert">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<style type="text/css">
.hide {
  display: none;
}
.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.5);
  background-image: url({% static 'loading.gif' %});
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: 150px 150px;
}
</style>
<div class="loading hide"></div>
<script type="text/javascript">
  $('#ajax_sbialert_btn').click(function(event){
    var form = $('#ajax_sbialert');
    $.ajax({
      url: "{% url 'web:ajax_set_alert' %}",
      method: form.prop("method"),
      data: form.serialize(),
      timeout: 10000,
      dataType: "json",
      beforeSend: function(){
				$('.loading').removeClass('hide');
			}
    })
    .done( function(d) {
    	$('.loading').addClass('hide');
      window.alert(d["msg"])
      if (d['status'] == true){location.reload();}
    })
  });
</script>
