{% load humanize %}
{% load web_template %}
<!--button-->
<button type="button" class="btn btn-block btn-outline-primary" data-toggle="modal" data-target="#stock_info">
  <i class="fas fa-external-link-alt"></i> Stock Info
</button>

<!-- Modal new_stock-->
<div class="modal fade" id="stock_info" tabindex="-1" role="dialog" aria-labelledby="stock_info" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new_stock_Label">
          <i class="fas fa-info-circle"></i> {{entry.stock}}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-responsive-sm">
          <tr>
            <th>市場</th>
            <td>{{entry.stock.market |default:"-"}}</td>
          </tr>
          <tr>
            <th>産業</th>
            <td>{{entry.stock.industry |default:"-"}}</td>
          </tr>
          {% if not entry.stock.is_trust and not entry.stock.industry == 'ETF' %}
          <tr>
            <th>特色</th>
            <td>{{entry.stock.feature}}</td>
          </tr>
          <tr>
            <th>連結事業</th>
            <td>{{entry.stock.consolidated_business}}</td>
          </tr>
          <tr>
            <th>決算</th>
            <td>{{entry.stock.settlement_date}}</td>
          </tr>
          <tr>
            <th>単元株数</th>
            <td>{{entry.stock.unit}}</td>
          </tr>
          <tr>
            <th>配当金</th>
            <td>{{entry.stock.dividend}}</td>
          </tr>
          <tr>
            <th>配当利回り</th>
            <td>{{entry.stock.dividend_yield |pct}}</td>
          </tr>
          {% endif %}
        </table>
      </div>
      <div class="modal-footer">
        <a href="{%url 'web:stock_detail' stock_code=entry.stock.code%}" class="btn btn-info">
          Stock Detail <i class="fas fa-arrow-circle-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>