<!-- Modal new-entry -->
<div class="modal fade" id="new_entry" tabindex="-1" role="dialog" aria-labelledby="new_entry" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new_entry_Label">
          <i class="fas fa-paw"></i> New Entry
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="{%url 'web:entry_create'%}">
        <div class="modal-body">
          {% csrf_token %}
          <table>
            {{ entry_form }}
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" name="post_type" value="new_entry">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>