<!-- Modal new_stock-->
<div class="modal fade" id="new_stock" tabindex="-1" role="dialog" aria-labelledby="new_stock" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new_stock_Label">New stock</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" id="testajax" action="{%url 'web:stock_create'%}">
        <div class="modal-body">
          {% csrf_token %}
          <input type="hidden" name="post_type" value="stock_form">
          <table class="table">
              {{ stock_form }}
            <tr>
              <th>Name:</th>
              <td id="ajax_response_name"></td>
            </tr>
            <tr>
              <th>Market:</th>
              <td id="ajax_response_market"></td>
            </tr>
            <tr>
              <th>Industry:</th>
              <td id="ajax_response_industry"></td>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-info"    id="stock_ajax"  >Check stock name</button>
          <button type="button" class="btn btn-primary" id="stock_submit">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!--銘柄名取得-->
<script type="text/javascript">
  $('#stock_ajax').click(function(event){
    var form = $('#testajax');
    console.log($('#testajax [name=post_type]').val())
    console.log(form.serializeArray())

    $.ajax({
      url: "{% url 'asset:ajax' %}",
      method: form.prop("method"),
      data: form.serialize(),
      timeout: 10000,
      dataType: "json",
    })
    .done( function(d) {
      $('#ajax_response_name').text(d.name);
      $('#ajax_response_industry').text(d.industry);
      $('#ajax_response_market').text(d.market);
    })
  });
</script>

<!--登録-->
<script type="text/javascript">
  $('#stock_submit').click(function(){
    var form = $('#testajax');
    $('#testajax').submit();
    console.log($('#testajax [name=post_type]').val())
    console.log(form.serialize())
  });
</script>