{% extends "kakeibo/base.html" %}

{% block title %}
    Credit-Update
{% endblock %}

{% block body %}
<div class="container">
    <h1>クレジット編集</h1>
    <hr>

    <form method="post">
        <table class="table table-light table-hover table-sm table-bordered table-responsive-md">
            <tr>
                <th>id</th>
                <td>{{object.pk}}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{form.date}}</td>
            </tr>
            <tr>
                <th>Debit Date</th>
                <td>{{form.debit_date}}</td>
            </tr>
            <tr>
                <th>Fee</th>
                <td>{{form.fee}}</td>
            </tr>
            <tr>
                <th>Credit Item</th>
                <td>{{form.credit_item}}</td>
            </tr>
        </table>
        <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-primary">Save</button>
                <a href="{% url 'kakeibo:credit_detail' pk=object.pk %}" class="btn btn-secondary">Back to detail</a>
            </div>
        </div>
        {% csrf_token %}
    </form>

</div>
{% endblock %}

{% block script %}
<!-- カレンダー -->
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css" >
<script>
  $(function() {
      var dateFormat = 'yy-mm-dd';
      $('#id_date').datepicker({
          dateFormat: dateFormat
      });
      $('#id_debit_date').datepicker({
          dateFormat: dateFormat
      });

  });
</script>
{% endblock %}
