{% extends "kakeibo/base.html" %}

{% block title %}
    Credit-list
{% endblock %}

{% block body %}
<div class="container">
    <h1>クレジット記録</h1>
    <hr>

    <table class="table table-light table-hover table-sm table-bordered table-responsive-md">
        <thead>
            <tr>
                <th class="right">id</th>
                <th class="right">Date</th>
                <th class="right">Debit Date</th>
                <th class="right">Fee</th>
                <th class="ritht">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Credit Item
                    </a>
                    <div class="nav-item dropdown active">
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'kakeibo:credit_list' %}">all</a>
                            {% for ci in credit_items %}
                            <a class="dropdown-item" href="?credit_item={{ci.id}}">{{ci.name}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </th>
                <th class="right">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Usage
                    </a>
                    <div class="nav-item dropdown active">
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'kakeibo:credit_list' %}">All</a>
                            <a class="dropdown-item" href="{% url 'kakeibo:credit_list' %}?usage=0">None</a>
                            {% for u in usages %}
                            <a class="dropdown-item" href="{% url 'kakeibo:credit_list' %}?usage={{u.id}}">{{u.name}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for credit in object_list %}
            <tr>
                <td class="right"><a href="{% url 'kakeibo:credit_detail' pk=credit.pk%}?">{{credit.pk}}</a></td>
                <td class="right">{{credit.date}}</td>
                <td class="right">{{credit.debit_date.year}}年{{credit.debit_date.month}}月</td>
                <td class="right">{{credit.fee_yen}}</td>
                <td class="right">{{credit.credit_item}}</td>
                <td class="right">{{credit.credit_item.usage}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% if is_paginated %}
  <ul class="pagination">
      {% if page_obj.has_previous %}
        <li><a class="page-link text-primary d-inline-block" href="?{{ page_obj.previous_page_number.querystring }}">前</a></li>
      {% else %}
        <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">前</div></li>
      {% endif %}

      {% for link_page in page_obj.pages %}
        {% if link_page %}
          {% if link_page == page_obj.number %}
            <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">{{ link_page }}</div></li>
          {% else %}
            <li><a class="page-link text-primary d-inline-block" href="?{{ link_page.querystring  }}">{{ link_page }}</a></li>
          {% endif %}
        {% else %}
          <li class="disabled"><a class="page-link text-secondary d-inline-block text-muted" href="#">・・・</a></li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li><a class="page-link text-primary d-inline-block" href="?{{ page_obj.next_page_number.querystring }}">次</a></li>
      {% else %}
        <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">次</div></li>
      {% endif %}
      <li class="p-md-2">
        {{ page_obj.paginator.num_pages }} 頁中 {{ page_obj.number }} 頁目を表示
      </li>
  </ul>
{% endif %}
</div>

{% endblock %}
