{% extends "kakeibo/base.html" %}
{% load humanize %}
{% block title %}
    Credit-list
{% endblock %}

{% block body %}
<div class="container">
    <h1>クレジット項目一覧</h1>
    <hr>

    <table class="table table-light table-hover table-sm table-bordered table-responsive-md">
        <thead>
            <tr>
                <th class="right">id</th>
                <th class="lett">Credit Item</th>
                <th class="left">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Usage
                    </a>
                    <div class="nav-item dropdown active">
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'kakeibo:credit_item_list' %}">All</a>
                            <a class="dropdown-item" href="{% url 'kakeibo:credit_item_list' %}?usage=0">None</a>
                            {% for u in usages %}
                            <a class="dropdown-item" href="{% url 'kakeibo:credit_item_list' %}?usage={{u.id}}">{{u.name}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </th>
                <th class="right">Count</th>
                <th class="right">Sum</th>
                <th class="right">Avg</th>
            </tr>
        </thead>
        <tbody>
            {% for credit_item in object_list %}
            <tr>
                <td class="right"><a href="{% url 'kakeibo:credit_item_detail' pk=credit_item.pk %}">{{credit_item.pk}}</a></td>
                <td class="left">{{credit_item.name}}</td>
                <td class="left">{{credit_item.usage}}</td>
                <td class="right">{{credit_item.count_credit}}</td>
                <td class="right">¥{{credit_item.sum_credit | intcomma}}</td>
                <td class="right">¥{{credit_item.avg_credit | intcomma}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% if is_paginated %}
  <ul class="pagination">
      {% if page_obj.has_previous %}
        <li><a class="page-link text-primary d-inline-block" href="?{{ page_obj.previous_page_number.querystring }}">前</a></li>
      {% else %}
        <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">前</div></li>
      {% endif %}

      {% for link_page in page_obj.pages %}
        {% if link_page %}
          {% if link_page == page_obj.number %}
            <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">{{ link_page }}</div></li>
          {% else %}
            <li><a class="page-link text-primary d-inline-block" href="?{{ link_page.querystring  }}">{{ link_page }}</a></li>
          {% endif %}
        {% else %}
          <li class="disabled"><a class="page-link text-secondary d-inline-block text-muted" href="#">・・・</a></li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li><a class="page-link text-primary d-inline-block" href="?{{ page_obj.next_page_number.querystring }}">次</a></li>
      {% else %}
        <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">次</div></li>
      {% endif %}
      <li class="p-md-2">
        {{ page_obj.paginator.num_pages }} 頁中 {{ page_obj.number }} 頁目を表示
      </li>
  </ul>
{% endif %}
</div>

{% endblock %}
