{% extends "kakeibo/base.html" %}
{% load humanize %}
{% block title %}
    Credit-Detail
{% endblock %}

{% block body %}
<div class="container">
    <hr>
    <h1><i class="far fa-credit-card"></i> クレジット項目詳細</h1>
    <hr>
    <div class="row">
        <div class="col-sm-7">
            <h4>詳細</h4>
            <table class="table table-light table-hover table-sm table-bordered table-responsive-md">
                <tr>
                    <th>id</th>
                    <td>{{object.pk}}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{object.name}}</td>
                </tr>
                <tr>
                    <th>Usage</th>
                    <td><a href="{%if object.usage%}{%url 'kakeibo:usage_detail' pk=object.usage.pk%}{%endif%}">{{object.usage}}</a></td>
                </tr>
                <tr>
                    <th>Count</th>
                    <td>{{object.count_credit}}</td>
                </tr>
                <tr>
                    <th>Sum</th>
                    <td>¥{{object.sum_credit | intcomma}}</td>
                </tr>
                <tr>
                    <th>Average</th>
                    <td>¥{{object.avg_credit | intcomma}}</td>
                </tr>
            </table>
            <a href="{% url 'kakeibo:credit_item_update' pk=object.pk %}" class="btn btn-info">Edit</a>
            <a href="{% url 'kakeibo:credit_item_list' %}" class="btn btn-secondary">Back to list</a>

            <hr>
            <h4>一覧</h4>
            <table class="table table-light table-hover table-sm table-bordered table-responsive-md">
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th class="right">Fee</th>
                </tr>
                {% for c in object.get_credits %}
                <tr>
                    <td><a href="{%url 'kakeibo:credit_detail' pk=c.pk%}">{{c.pk}}</a></td>
                    <td>{{c.date}}</td>
                    <td class="right">¥{{c.fee | intcomma}}</td>
                </tr>
                {% endfor %}
            </table>

        </div>
        <div class="col-sm-5">
            <h4>内訳</h4>
            <canvas id="pie_usage"></canvas>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<!-- pie_usage -->
<script>
  var ctx = document.getElementById('pie_usage').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: [{%for c in object.get_credits %}"{{c.date}}{%if c.memo%}/{{c.memo}}{%endif%}",{%endfor%}],
      datasets: [{
        label: "alice",
        data: [{%for c in object.get_credits %}{{c.fee}},{%endfor%}],
        backgroundColor: [
          "#2ecc71",
          "#3498db",
          "#95a5a6",
          "#9b59b6",
          "#f1c40f",
          "#e74c3c",
          "#34495e",
          "#bee95e",

          "#2ecc71",
          "#3498db",
          "#95a5a6",
          "#9b59b6",
          "#f1c40f",
          "#e74c3c",
          "#34495e",
          "#bee95e",
         ]
      }]
    }
  });
</script>
{% endblock %}