{% extends "kakeibo/base.html" %}
{% load humanize %}
{% block title %}
    Dashboard
{% endblock %}
 
{% block body %}
  
<div class="container-fluid">
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <h1>
        <i class="fas fa-chart-area"></i> {{today.year}}年{{today.month}}月の概要
      </h1>
    </div>
    <div class="col-sm-2">
      <a href="#link-kakeibo" class="btn btn-info btn-block"><i class="fas fa-user-circle"></i> 家計簿</a>
    </div>
    <div class="col-sm-2">
      <a href="#link-shared" class="btn btn-info btn-block"><i class="fas fa-people-carry"></i> 共通家計簿</a>
    </div>
    <div class="col-sm-2">
      <a href="#link-asset" class="btn btn-info btn-block"><i class="far fa-money-bill-alt"></i> 資産運用</a>
    </div>
  </div>
  <hr>

  <!--家計簿-->
  <div class="row" id="link-kakeibo">
    <div class="col-sm-6">
      <h2><i class="fas fa-user-circle"></i> 家計簿</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <button class="btn btn-block btn-lg btn-outline-{{status.kakeibo}}">収支 ¥{{inout | intcomma}}</button>
    </div>
    <div class="col-sm-8">
      <div class="progress" style="height:25px">
        <div class="progress-bar bg-success progress-bar-striped" style="width:{{pb.kakeibo.in}}%; height:25px">
          収入 ¥{{income | intcomma}}
        </div>
      </div>
      <div class="progress" style="height:25px">
        <div class="progress-bar bg-warning progress-bar-striped" style="width:{{pb.kakeibo.out}}%; height:25px">
          支出 ¥{{expense | intcomma}}
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-4">
      <h4>収支</h4>
      <table class="table table-light table-hover table-sm">
        <thead>
          <tr>
            <th>Key</th>
            <th class="right">Value</th>
          </tr>
        </thead>
        <tbody>
          {% for key, val in current_way.items %}
          <tr>
            <td>{{key}}</td>
            <td class="right">¥{{val | intcomma}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <h4>資産状態</h4>
      <table class="table table-light table-hover table-sm">
        <thead>
          <tr>
            <th>Key</th>
            <th class="right">Value</th>
          </tr>
        </thead>
        <tbody class="">
          {% for key, val in current_resource.items %}
          <tr>
            <td>{{key}}</td>
            <td class="right">¥{{val | intcomma}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-sm-4">
      <canvas id="pie_usage"></canvas>
    </div>
    <div class="col-sm-4">
      <canvas id="bar_resources" width="320" height="360"></canvas>
    </div>
  </div>
  <hr>

  <!--共通家計簿-->
  <div class="row" id="link-shared">
    <div class="col-sm-6">
      <h2><i class="fas fa-people-carry"></i> 共通家計簿</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <button class="btn btn-block btn-lg btn-outline-{{status.shared}}">収支 ¥{{inout_shared | intcomma}}</button>
    </div>
    <div class="col-sm-8">
      <div class="progress" style="height:25px">
        <div class="progress-bar bg-success progress-bar-striped" style="width:{{pb.shared.in}}%; height:25px">
          予算 ¥{{budget_shared.all | intcomma}}
        </div>
      </div>
      <div class="progress" style="height:25px">
        <div class="progress-bar bg-warning progress-bar-striped" style="width:{{pb.shared.out}}%; height:25px">
          支出 ¥{{expense_shared.all | intcomma}}
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-4">
      <h4>精算：¥{{move | intcomma}}</h4>
      <hr>

      <h4>支払者別</h4>
      <table class="table table-light table-hover table-sm">
        <thead>
          <tr>
            <th>Key</th>
            <th class="right">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>合計</td>
            <td class="right">¥{{expense_shared.all | intcomma}}</td>
          </tr>
          <tr>
            <td>敬士</td>
            <td class="right">¥{{expense_shared.t | intcomma}}</td>
          </tr>
          <tr>
            <td>朋子</td>
            <td class="right">¥{{expense_shared.h | intcomma}}</td>
          </tr>
        </tbody>
      </table>
      
      <h4>用途別</h4>
      <table class="table table-light table-hover table-sm">
        <thead>
          <tr>
            <th>Key</th>
            <th class="right">Value</th>
          </tr>
        </thead>
        <tbody>
        {% for su in shared_grouped_by_usage %}
          <tr>
            <td>{{su.usage__name}}</td>
            <td class="right">¥{{su.sum|intcomma}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
      <!--<p class="resizeimage"><img src="{% url 'kakeibo:pie_shared' %}?year={{today.year}}&month={{today.month}}"></p>-->
      <canvas id="pie_shared_usage"></canvas>
    </div>
    <div class="col-sm-4">
      <canvas id="bar_eom" width="320" height="360"></canvas>
      <!--<p class="resizeimage"><img src="{% url 'kakeibo:bars_shared_eom' %}?year={{today.year}}&month={{today.month}}"></p>-->
    </div>
  </div>
  <hr>

  <!--資産運用-->
  <div class="row" id="link-asset">
    <div class="col-sm-6">
      <h2><i class="far fa-money-bill-alt"></i> 資産運用</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
    </div>
    <div class="col-4">
    </div>
  </div>
  <hr>
  <div class="row">
  <hr>

</div>

<!-- pie_usage -->
<script>
  var ctx = document.getElementById('pie_usage').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: [{%for cu in current_usage%}"{{cu.usage__name}}",{%endfor%}],
      datasets: [{
        label: "alice",
        data: [{%for cu in current_usage%}{{cu.sum}},{%endfor%}],
        backgroundColor: [
          "#2ecc71",
          "#3498db",
          "#95a5a6",
          "#9b59b6",
          "#f1c40f",
          "#e74c3c",
          "#34495e",
          "#bee95e",

          "#2ecc71",
          "#3498db",
          "#95a5a6",
          "#9b59b6",
          "#f1c40f",
          "#e74c3c",
          "#34495e",
          "#bee95e",
         ]
      }]
    }
  });
</script>

<!-- pie_shared_usage -->
<script>
  var ctx = document.getElementById('pie_shared_usage').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: [{%for su in shared_grouped_by_usage%}"{{su.usage__name}}",{%endfor%}],
      datasets: [{
        label: "alice",
        data: [{%for su in shared_grouped_by_usage%}{{su.sum}},{%endfor%}],
        backgroundColor: [
          "#2ecc71",
          "#3498db",
          "#95a5a6",
          "#9b59b6",
          "#f1c40f",
          "#e74c3c",
          "#34495e"
         ]
      }]
    }
  });
</script>

<!-- bar_resources -->
<script>
  var ctx = document.getElementById('bar_resources').getContext('2d');
  var options = {
    scales: {
      yAxes: [{
        stacked: true
      }]
    }
  }
  var colors = [
    "rgba(250,153,0,0.4)",
    "rgba(0,153,253,0.4)",
    "rgba(153,250,0,0.4)",
    "rgba(153,0,253, 0.4)",
    "rgba(253,0,150,0.4)",
  ]
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ["今月", "先月"],
      datasets: [
        {%for r in resources%}
        {
          label: "{{r.name}}",
          data: [{{r.this_month}}, {{r.last_month}}],
          backgroundColor: colors[{{ forloop.counter0 }}]
        },
        {% endfor %}
      ],
    },
    options: options
  });
</script>

<!-- bar_eom -->
<script>
  var ctx = document.getElementById('bar_eom').getContext('2d');
  var options = {
    scales: {
      yAxes: [{
        stacked: true
      }]
    }
  }
  var colors = [
    "rgba(250,153,  0,0.4)",
    "rgba(  0,153,253,0.4)",
    "rgba(153,250,  0,0.4)",
    "rgba(153,  0,253,0.4)",
    "rgba(253,  0,150,0.4)",
    "rgba(  0,253,153,0.4)",
  ]
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [{%for l in bar_eom.labels%}"{{l}}",{%endfor%}],
      datasets: [
        {%for key,val in bar_eom.data.items%}
        {
          label: "{{key}}",
          data: [{%for v in val%}{{v}},{%endfor%}],
          backgroundColor: colors[{{ forloop.counter0 }}]
        },
        {% endfor %}
      ],
    },
    options: options
  });
</script>
{% endblock %}