{% extends "kakeibo/base.html" %}
{% load humanize %}
{% load web_template %}
{% block title %}
    Dashboard
{% endblock %}
 
{% block body %}
  
<div class="container-fluid">
  <hr>
  <div class="row">
    <div class="col-md-6 col-sm-12 col-12">
      <h1>
        <i class="fas fa-chart-area"></i> {{today.year}}年{{today.month}}月
      </h1>
    </div>
    <div class="col-md-2 col-sm-12 col-12">
      <!-- Modal new-record -->
      {% include 'kakeibo/modal/modal_new_record.html' %}
    </div>
    <div class="col-md-2 col-sm-6 col-6">
      <!-- Modal read_csv -->
      {% include 'kakeibo/modal/modal_read_csv.html' %}
    </div>
    <div class="col-md-2 col-sm-6 col-6">
      <!-- Modal usual-record -->
      {% include 'kakeibo/modal/modal_usual_record.html' %}
    </div>
  </div>
  <hr>

  <!--家計簿-->
  <div class="row" id="link-kakeibo">
    <div class="col-sm-6">
      <h2><i class="fas fa-user-circle"></i> 家計簿</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-3 col-lg-2">
      <button class="btn btn-block btn-lg btn-{{status.kakeibo}}">
        収支 <span class="badge badge-light">¥{{inout | intcomma}}</span>
      </button>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-2">
      <button class="btn btn-block btn-lg btn-info">
        総資産 <span class="badge badge-light">¥{{total | intcomma}}</span>
      </button>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8">
      <div class="progress" style="height:25px">
        <div class="progress-bar bg-success progress-bar-striped" style="width:{{pb.kakeibo.in}}%; height:25px">
          収入 <span class="badge badge-light">¥{{income | intcomma}}</span>
        </div>
      </div>
      <div class="progress" style="height:25px">
        <div class="progress-bar bg-warning progress-bar-striped" style="width:{{pb.kakeibo.out}}%; height:25px">
          支出 <span class="badge badge-light">¥{{expense | intcomma}}</span>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
      <div class="card">
        <div class="card-header">
          <h4>用途別</h4>
        </div>
        <div class="card-body">
          <canvas id="pie_usage"></canvas>
          <table class="table table-light table-hover table-sm">
            <thead>
              <tr>
                <th>Key</th>
                <th class="right">Value</th>
              </tr>
            </thead>
            <tbody class="">
              {%for cu in current_usage%}
              <tr>
                <td>{{cu.usage__name}}</td>
                <td class="right">¥{{cu.sum | intcomma}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3">
      <div class="card">
        <div class="card-header">
          <h4>資産状態</h4>
        </div>
        <div class="card-body">
          <canvas id="pie_resource"></canvas>
          <!--<canvas id="bar_resources" width="320" height="360"></canvas>-->
          <table class="table table-light table-hover table-sm">
            <thead>
              <tr>
                <th>Key</th>
                <th class="right">Value</th>
              </tr>
            </thead>
            <tbody class="">
              {% for cr in current_resource %}
              <tr>
                <td>{{cr.name}}</td>
                <td class="right">¥{{cr.current_val | intcomma}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="card">
        <div class="card-header">
          <h4>イベント</h4>
        </div>
        <div class="card-body">
          <h4>
            <span class="badge badge-{%if event_sum_plan > event_sum_actual %}success{%else%}danger{%endif%}">
              計画：{{event_sum_plan |yen}} / 実績：{{event_sum_actual |yen}}
            </span>
          </h4>
          <table class="table table-light table-hover table-responsive-sm">
            <thead>
              <tr>
                <th>No</th>
                <th>Date</th>
                <th>Name</th>
                <th class="right">Plan</th>
                <th class="right">Actual</th>
              </tr>
            </thead>
            <tbody>
              {%for event in events%}
              <tr {%if not event.is_active%}style="background-color: #707070;"{%endif%}>
                <td>
                  <a href="{%url 'kakeibo:event_detail' pk=event.pk%}">
                    {{event.pk}}
                  </a>
                </td>
                <td>{{event.date}}</td>
                <td>{{event.name}}</td>
                <td class="right">{{event.sum_plan |yen}}</td>
                <td class="right">{{event.sum_actual |yen}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          {% include 'kakeibo/modal/modal_new_event.html' %}
          <a class="btn btn-info" href="{%url 'kakeibo:event_list'%}">
            <i class="fas fa-list"></i> Event List
          </a>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <!--共通家計簿-->
  <div class="row" id="link-shared">
    <div class="col-sm-6">
      <h2><i class="fas fa-people-carry"></i> 共通家計簿</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-3 col-lg-2">
      <button class="btn btn-block btn-lg btn-{{status.shared}}">
        収支 <span class="badge badge-light">¥{{seisan.inout | intcomma}}</span>
      </button>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-2">
      <button class="btn btn-block btn-lg btn-info">
        精算 <span class="badge badge-light">¥{{seisan.seisan | intcomma}}</span>
      </button>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8">
      <div class="progress" style="height:25px">
        <div class="progress-bar bg-success progress-bar-striped" style="width:{{pb.shared.in}}%; height:25px">
          予算 <span class="badge badge-light">¥{{seisan.budget.sum | intcomma}}</span>
        </div>
      </div>
      <div class="progress" style="height:25px">
        <div class="progress-bar bg-warning progress-bar-striped" style="width:{{pb.shared.out}}%; height:25px">
          支出 <span class="badge badge-light">¥{{seisan.payment.sum | intcomma}}</span>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
          <h4>支払者別</h4>
        </div>
        <div class="card-body">
          <canvas id="pie_shared_paid_by"></canvas>
          <table class="table table-light table-hover table-sm">
            <thead>
              <tr>
                <th>Key</th>
                <th class="right">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>敬士</td>
                <td class="right">¥{{seisan.payment.taka | intcomma}}</td>
              </tr>
              <tr>
                <td>朋子</td>
                <td class="right">¥{{seisan.payment.hoko | intcomma}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
          <h4>用途別</h4>
        </div>
        <div class="card-body">
          <canvas id="pie_shared_usage"></canvas>
          <table class="table table-light table-hover table-sm">
            <thead>
              <tr>
                <th>Key</th>
                <th class="right">Value</th>
              </tr>
            </thead>
            <tbody>
            {% for su in shared_grouped_by_usage %}
              <tr>
                <td>{{su.usage__name}}</td>
                <td class="right">¥{{su.sum|intcomma}}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="card">
        <div class="card-header">
          <h4>支払い内訳</h4>
        </div>
        <div class="card-body">
          <canvas id="bar_eom" width="320" height="360"></canvas>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <!--資産運用-->
  <div class="row" id="link-asset">
    <div class="col-sm-6">
      <h2><i class="far fa-money-bill-alt"></i> 資産運用</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
    </div>
    <div class="col-4">
    </div>
  </div>
  <hr>
  <div class="row">
  <hr>

</div>

<!--============================================================ -->
                          <!--SCRIPT-->
<!--============================================================ -->
<!-- pie_usage -->
<script>
  var ctx = document.getElementById('pie_usage').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: [{%for cu in current_usage%}"{{cu.usage__name}}",{%endfor%}],
      datasets: [{
        label: "alice",
        data: [{%for cu in current_usage%}{{cu.sum}},{%endfor%}],
        backgroundColor: [
          "#2ecc71",
          "#3498db",
          "#95a5a6",
          "#9b59b6",
          "#f1c40f",
          "#e74c3c",
          "#34495e",
          "#bee95e",

          "#2ecc71",
          "#3498db",
          "#95a5a6",
          "#9b59b6",
          "#f1c40f",
          "#e74c3c",
          "#34495e",
          "#bee95e",
         ]
      }]
    },
    options: {
      <!--responsive: true,-->
      legend: {
        position: "right",
        display: false
      }
    }
  });
</script>


<!-- pie_resource -->
<script>
  var ctx = document.getElementById('pie_resource').getContext('2d');
  ctx.canvas.width = 100
  ctx.canvas.height = 100
  var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: [{% for cr in current_resource %}"{{cr.name}}",{%endfor%}],
      datasets: [{
        label: "alice",
        data: [{% for cr in current_resource %}{{cr.current_val}},{%endfor%}],
        backgroundColor: [
          "#2ecc71",
          "#3498db",
          "#95a5a6",
          "#9b59b6",
          "#f1c40f",
          "#e74c3c",
          "#34495e",
          "#bee95e",
         ]
      }]
    },
    options: {
      <!--responsive: true,-->
      legend: {
        position: "right",
        display: false
      }
    }
  });
</script>

<!-- pie_shared_usage -->
<script>
  var ctx = document.getElementById('pie_shared_usage').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: [{%for su in shared_grouped_by_usage%}"{{su.usage__name}}",{%endfor%}],
      datasets: [{
        label: "alice",
        data: [{%for su in shared_grouped_by_usage%}{{su.sum}},{%endfor%}],
        backgroundColor: [
          "#2ecc71",
          "#3498db",
          "#95a5a6",
          "#9b59b6",
          "#f1c40f",
          "#e74c3c",
          "#34495e"
         ]
      }]
    },
    options: {
      responsive: true,
      legend: {
        position: "right"
      }
    }
  });
</script>

<!-- pie_shared_paid_by -->
<script>
  var ctx = document.getElementById('pie_shared_paid_by').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: ["敬士", "朋子"],
      datasets: [{
        label: "alice",
        data: [{{seisan.payment.taka}}, {{seisan.payment.hoko}}],
        backgroundColor: [
          "#2ecc71",
          "#3498db"
         ]
      }]
    },
    options: {
      responsive: true,
      legend: {
        position: "right"
      }
    }
  });
</script>

<!-- bar_eom -->
<script>
  var ctx = document.getElementById('bar_eom').getContext('2d');
  var options = {
    scales: {
      yAxes: [{
        stacked: true
      }]
    }
  }
  var colors = [
    "rgba(250,153,  0,0.4)",
    "rgba(  0,153,253,0.4)",
    "rgba(153,250,  0,0.4)",
    "rgba(153,  0,253,0.4)",
    "rgba(253,  0,150,0.4)",
    "rgba(  0,253,153,0.4)",
  ]
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [{%for l in bar_eom.labels%}"{{l}}",{%endfor%}],
      datasets: [
        {%for key,val in bar_eom.data.items%}
        {
          label: "{{key}}",
          data: [{%for v in val%}{{v}},{%endfor%}],
          backgroundColor: colors[{{ forloop.counter0 }}]
        },
        {% endfor %}
      ],
    },
    options: options
  });
</script>

<script src="/document/js/fill_resource.js"></script>
{% endblock %}