{% extends "kakeibo/base.html" %}

{% block title %}
    Dashboard
{% endblock %}
 
{% block body %}
  
<div class="container-fluid">
  <hr>
  <div class="row">
    <div class="col-sm-5">
      <h1>
        <i class="fas fa-chart-area"></i> Dashboard
      </h1>
    </div>
    <div class="col-sm-7">
    </div>
  </div>

  <hr>
  <h2>{{today.month}}月の概要</h2>
  <div class="row">
    <div class="col-sm-4">
      <table class="table table-light table-hover table-sm table-bordere">
        <thead>
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody class="">
          <tr>
            <td>収入<br>（うち給与）</td>
            <td>{{income}}<br>（{{salary}}）</td>
          </tr>
          <tr>
            <td>現金支出</td>
            <td>{{expense}}</td>
          </tr>
          <tr>
            <td>クレジット支出</td>
            <td>{{credit}}</td>
          </tr>
          <tr>
            <td>引き落とし</td>
            <td>{{debit}}</td>
          </tr>
          <tr>
            <td>共通支出</td>
            <td>{{shared_expense}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-4">
      <p class="resizeimage"><img src="{% url 'kakeibo:bars_balance' %}"></p>
    </div>
    <div class="col-sm-4">
      <p class="resizeimage"><img src="{% url 'kakeibo:pie_resource' %}"></p>
    </div>
  </div>

  <h2>共通家計簿</h2>
  <hr>
  <div class="row">
    <div class="col-sm-4">
      <table class="table table-light table-hover table-sm table-bordere">
        <thead>
          <tr>
            <th>Key</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>合計</td>
            <td>{{shared}}</td>
          </tr>
          <tr>
            <td>敬士</td>
            <td>{{paidbyt}}</td>
          </tr>
          <tr>
            <td>朋子</td>
            <td>{{paidbyh}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-4">
      <p class="resizeimage"><img src="{% url 'kakeibo:pie_shared' %}"></p>
    </div>
    <div class="col-sm-4">
      <p class="resizeimage"><img src="{% url 'kakeibo:pie_shared_year' %}"></p>
    </div>
  </div>


  <h2>資産運用</h2>
  <hr>
  <div class="row">
  </div>

</div>
{% endblock %}
