{% extends "kakeibo/base.html" %}
{% load humanize %}
{% block title %}
    Event-list
{% endblock %}

{% block body %}
<div class="container">
    <hr>
    <div class="row">
        <div class="col-sm-10">
            <h1><i class="far fa-calendar-check"></i> イベント一覧</h1>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-outline-info btn-block" data-toggle="modal" data-target="#new_event">
            <i class="far fa-plus-square"></i> New Event
          </button>
        </div>
    </div>
    <hr>

    <div class="row">
        {% for event in object_list %}
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="card">
            <div class="card-header">
              {%if not event.is_active%}
              <label class="badge badge-warning"><i class="fas fa-stop-circle"></i> Non-Active</label>
              {%endif%}
              <strong>{{event.name}}</strong>
            </div>
            <div class="card-body">
              <table class="table table-light table-sm table-hover">
                <tr>
                  <th>日付</th>
                  <td class="right">{{event.date}}</td>
                </tr>
                <tr>
                  <th>概要</th>
                  <td class="right">{{event.memo}}</td>
                </tr>
                <tr>
                  <th>計画</th>
                  <td class="right">¥ {{event.sum_plan |intcomma}}</td>
                </tr>
                <tr>
                  <th>実績</th>
                  <td class="right">¥ {{event.sum_actual |intcomma}}</td>
                </tr>
              </table>
              <button class="btn btn-primary" onClick=location.href="{% url 'kakeibo:event_detail' pk=event.pk %}">
                  <i class="fas fa-info-circle"></i> Detail
              </button>
              <button class="btn btn-info" onClick=location.href="{% url 'kakeibo:event_update' pk=event.pk %}">
                  <i class="fas fa-edit"></i> Edit
              </button>
            </div>
          </div>
          <br>
        </div>
        {% endfor %}
    </div>
{% include 'kakeibo/part/pagination.html' %}
</div>

<!--============================================================ -->
                          <!--MODAL-->
<!--============================================================ -->
<!-- Modal new-usage -->
<div class="modal fade" id="new_event" tabindex="-1" role="dialog" aria-labelledby="new_event" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new_event_Label">
          <i class="far fa-plus-square"></i> New Event
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="">
        <div class="modal-body">
          {% csrf_token %}
          <table>
            {{ form }}
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" name="post_type" value="new_record">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}
