{% extends "kakeibo/base.html" %}

{% block title %}
    Kakeibo-Detail
{% endblock %}

{% block body %}
<div class="container">
    <hr>
    <h1><i class="far fa-list-alt"></i> 家計簿詳細</h1>
    <hr>

    <table class="table table-light table-hover table-sm table-bordered table-responsive-md">
        <tr>
            <th>id</th>
            <td>{{object.pk}}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{object.date | date}}</td>
        </tr>
        <tr>
            <th>Fee</th>
            <td>{{object.fee_yen}}</td>
        </tr>
        <tr>
            <th>Way</th>
            <td>{{object.way}}</td>
        </tr>
        <tr>
            <th>Usage</th>
            <td><a href="{%url 'kakeibo:usage_detail' pk=object.usage.pk%}">{{object.usage}}</a></td>
        </tr>
        <tr>
            <th>From</th>
            <td>{%if object.move_from%}{{object.move_from}}{% endif %}</td>
        </tr>
        <tr>
            <th>To</th>
            <td>{%if object.move_to%}{{object.move_to}}{% endif %}</td>
        </tr>
        {% if object.currency == "USD" %}
        <tr>
            <th>Currency</th>
            <td>{{object.currency}}</td>
        </tr>
        <tr>
            <th>Rate</th>
            <td>{{object.rate}}</td>
        </tr>
        <tr>
            <th>Converted</th>
            <td>{{object.fee_converted_yen}}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Memo</th>
            <td>{{object.memo}}</td>
        </tr>
        <tr>
            <th>Credit</th>
            <td>
                <ul>
                {% for c in object.credits_set.all %}
                    <li>
                        <a href="{%url 'kakeibo:credit_detail' pk=c.pk%}">{{c}}</a>
                    </li>
                {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
    <div class="row">
        <div class="col-sm-6">
            <a href="{% url 'kakeibo:kakeibo_update' pk=object.pk %}" class="btn btn-info">
                <i class="fas fa-edit"></i> Edit
            </a>
            <a href="{% url 'kakeibo:kakeibo_delete' pk=object.pk %}" class="btn btn-danger">
                <i class="fas fa-trash-alt"></i> Delete
            </a>
            <a href="{% url 'kakeibo:kakeibo_list' %}" class="btn btn-secondary">
                <i class="fas fa-list"></i> Back to list
            </a>
        </div>
    </div>
</div>

{% endblock %}
