{% extends "kakeibo/base.html" %}

{% block title %}
    Kakeibo-list
{% endblock %}

{% block body %}
<div class="container">
    <h1><i class="far fa-list-alt"></i> 家計簿記録</h1>
    <hr>
    <form method="GET">
        <input type="text" name="search" placeholder="search">
        <button class="submit">Search</button>
    </form>
    <table class="table table-light table-hover table-sm table-bordered table-responsive-md">
        <thead>
            <tr>
                <th class="right">id</th>
                <th class="right">Date</th>
                <th class="right">Fee</th>
                <th class="right">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Way</a>
                    <div class="nav-item dropdown active">
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'kakeibo:kakeibo_list' %}">all</a>
                            {% for w in ways %}
                            <a class="dropdown-item" href="{% url 'kakeibo:kakeibo_list' %}?way={{w}}">{{w}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </th>
                <th class="right">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Usage</a>
                    <div class="nav-item dropdown active">
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'kakeibo:kakeibo_list' %}">all</a>
                            {% for u in usages %}
                            <a class="dropdown-item" href="{% url 'kakeibo:kakeibo_list' %}?usage={{u.id}}">{{u.name}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </th>
                <th class="right">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">From</a>
                    <div class="nav-item dropdown active">
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'kakeibo:kakeibo_list' %}">all</a>
                            {% for r in resources %}
                            <a class="dropdown-item" href="{% url 'kakeibo:kakeibo_list' %}?move_from={{r.id}}">{{r.name}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </th>
                <th class="right">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">To</a>
                    <div class="nav-item dropdown active">
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'kakeibo:kakeibo_list' %}">all</a>
                            {% for r in resources %}
                            <a class="dropdown-item" href="{% url 'kakeibo:kakeibo_list' %}?move_to={{r.id}}">{{r.name}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </th>
                <th class="right">Memo</th>
                <th class="right">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Event</a>
                    <div class="nav-item dropdown active">
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'kakeibo:kakeibo_list' %}">all</a>
                            {% for e in events %}
                            <a class="dropdown-item" href="{% url 'kakeibo:kakeibo_list' %}?event={{e.id}}">{{e.name}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for kakeibo in object_list %}
            <tr>
                <td class="right"><a href="{% url 'kakeibo:kakeibo_detail' pk=kakeibo.pk%}?">{{kakeibo.pk}}</a></td>
                <td class="right">{{kakeibo.date}}</td>
                {% if kakeibo.currency == "JPY" %}
                <td class="right">{{kakeibo.fee_yen}}</td>
                {% else %}
                <td class="right">{{kakeibo.fee_converted_yen}} ({{kakeibo.fee_usd}})</td>
                {% endif %}
                <td class="right">{{kakeibo.way}}</td>
                <td class="right">{{kakeibo.usage}}</td>
                <td class="right">{{kakeibo.move_from |default:'-'}}</td>
                <td class="right">{{kakeibo.move_to |default:'-'}}</td>
                <td class="right">{{kakeibo.memo |default:''}}</td>
                <td class="right">
                    {% if kakeibo.event %}
                    <a href="{%url 'kakeibo:event_detail' pk=kakeibo.event.pk %}">
                        {{kakeibo.event.name}}
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% include 'kakeibo/part/pagination.html' %}
</div>

{% endblock %}
