{% extends "kakeibo/base.html" %}

{% block title %}
    Kakeibo-list
{% endblock %}

{% block body %}
<div class="container">
    <h1>家計簿記録</h1>
    <table class="table table-light table-hover table-sm table-bordered table-responsive-md">
        <thead>
            <tr>
                <th>id</th>
                <th>Date</th>
                <th class="right">Fee</th>
                <th class="center">Way</th>
                <th class="center">Usage</th>
                <th>Memo</th>
            </tr>
        </thead>
        <tbody>
            {% for kakeibo in object_list %}
            <tr>
                <td>{{kakeibo.pk}}</td>
                <td>{{kakeibo.date}}</td>
                <td class="right">{{kakeibo.fee_yen}}</td>
                <td class="center">{{kakeibo.way}}</td>
                <td class="center">{{kakeibo.usage}}</td>
                <td>{{kakeibo.memo}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
        <li class="active"><span>{{ i }}, <span class="sr-only">(current)</span></span></li>
            {% else %}
        <li><a href="?page={{ i }}">{{ i }}, </a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}
</div>

{% endblock %}
