{% extends "kakeibo/base.html" %}

{% block title %}
    Kakeibo-Detail
{% endblock %}

{% block body %}
<div class="container">
    <h1>家計簿編集</h1>
    <hr>

    <table class="table table-light table-hover table-sm table-bordered table-responsive-md">
        <tr>
            <th>id</th>
            <td>{{object.pk}}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{object.date | date}}</td>
        </tr>
        <tr>
            <th>Fee</th>
            <td>{{object.fee_yen}}</td>
        </tr>
        <tr>
            <th>Way</th>
            <td>{{object.way}}</td>
        </tr>
        <tr>
            <th>Usage</th>
            <td>{{object.usage}}</td>
        </tr>
        <tr>
            <th>From</th>
            <td>{%if object.move_from%}{{object.move_from}}{% endif %}</td>
        </tr>
        <tr>
            <th>To</th>
            <td>{%if object.move_to%}{{object.move_to}}{% endif %}</td>
        </tr>
        <tr>
            <th>Memo</th>
            <td>{{object.memo}}</td>
        </tr>
    </table>
</div>

{% endblock %}
