{% extends "kakeibo/base.html" %}
{% load humanize %}
{% block title %}
    Link Kakeibo and Credit
{% endblock %}

{% block body %}
<div class="container">
  <hr>
  <h2><i class="fas fa-link"></i> Link Kakeibo and Credit ({{last_date}})</h2>
  <hr>
  <form method="POST">
    {% csrf_token %}
    <div class="row">
      <div class="col-3">
        <input class="btn btn-primary btn-block" id="btn_link" name="type" type="submit" value="紐付" disabled>
      </div>
      <div class="col-3">
        <input class="btn btn-secondary btn-block" id="btn_create" name="type" type="submit" value="作成" disabled>
      </div>
      <div class="col-3">
        <input class="btn btn-warning btn-block" id="btn_unlink" name="type" type="submit" value="紐付解除" disabled>
      </div>
      <div class="col-3">
        <input class="btn btn-danger btn-block" id="btn_delete" name="type" type="submit" value="削除" disabled>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-header">
            <h3>Kakeibo <span class="badge bg-info">{{num}}件</span> </h3>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th>Date</th>
                  <th>Fee</th>
                  <th>Usage</th>
                  <th>Memo</th>
                  <th>Credit</th>
                </tr>
              </thead>
              <tbody>
              {% for kc in kcs %}
              {% if kc.credits_set.count != 1 %}
                <tr>
                  <td><input type="checkbox" name="kakeibo[]" value="{{kc.pk}}"></td>
                  <td><a href="?year={{kc.date.year}}&month={{kc.date.month}}">{{kc.date}}</a></td>
                  <td>
                    <a href="?fee={{kc.fee}}">¥{{kc.fee| intcomma}}</a>
                  </td>
                  <td>{{kc.usage.name}}</td>
                  <td>{{kc.memo}}</td>
                  <td>{{kc.credits_set.count}}</td>
                </tr>
              {% endif %}
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-header">
            <h3>Credit <span class="badge bg-info">{{credit.count}}件</span></h3>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th>Date</th>
                  <th>Fee</th>
                  <th>Item</th>
                  <th>Usage</th>
                  <th>Memo</th>
                </tr>
              </thead>
              <tbody>
              {% for c in credit %}
                <tr>
                  <td><input type="checkbox" name="credit[]" value="{{c.pk}}"></td>
                  <td><a href="?year={{c.date.year}}&month={{c.date.month}}">{{c.date}}</a></td>
                  <td>
                    <a href="?fee={{c.fee}}">¥{{c.fee| intcomma}}</a>
                  </td>
                  <td>{{c.credit_item}}</td>
                  <td>{{c.credit_item.usage}}</td>
                  <td>{{c.memo}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<script>
  $(function(){
    $('input:checkbox').change(function(){
      // チェック数
      var cnt_k = $('input[name="kakeibo[]"]:checkbox:checked').length;
      var cnt_c = $('input[name="credit[]"]:checkbox:checked').length;
      // 紐付
      if (cnt_k==1 && cnt_c==1){
        $('#btn_link').prop('disabled', false);
      }else{
        $('#btn_link').prop('disabled', true);
      }
      // 作成
      if (cnt_k==0 && cnt_c>0){
        $('#btn_create').prop('disabled', false);
      }else{
        $('#btn_create').prop('disabled', true);
      }
      // 紐付解除
      if (cnt_k>0 && cnt_c==0){
        $('#btn_unlink').prop('disabled', false);
      }else{
        $('#btn_unlink').prop('disabled', true);
      }
      // 削除
      if (cnt_k>0 || cnt_c>0){
        $('#btn_delete').prop('disabled', false);
      }else{
        $('#btn_delete').prop('disabled', true);
      }
    })
  })
</script>
{% endblock %}