{% extends "kakeibo/base.html" %}
{% load humanize %}
{% block title %}
    My Dashboard
{% endblock %}
 
{% block body %}

<div class="container-fluid">
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <h1>
        <i class="fas fa-user-circle"></i> {{today.year}}年{{today.month}}月
      </h1>
    </div>

    <div class="col-sm-6">
      <form class="form-horizontal" method="get" action="{% url 'kakeibo:mine' %}">
        {% csrf_token %}
        <div class="form-group">
          <label class="control-label col-xs-2">Year&Month</label>
          <div class="row">
            <div class="col-5">
              <input type="month" name="yearmonth">
            </div>
            <div class="col-4">
              <input type="submit" value="Check">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-sm-4">
      <button class="btn btn-block btn-lg btn-outline-info">貯金 ¥{{saved | intcomma}}</button>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-block btn-lg btn-outline-{{status}}">収支 ¥{{inout | intcomma}}</button>
    </div>
    <div class="col-sm-4">
      <div class="progress" style="height:25px">
        <div class="progress-bar bg-success progress-bar-striped" style="width:{{pb_kakeibo.in}}%; height:25px">
          収入 ¥{{income | intcomma}}
        </div>
      </div>
      <div class="progress" style="height:25px">
        <div class="progress-bar bg-warning progress-bar-striped" style="width:{{pb_kakeibo.out}}%; height:25px">
          支出 ¥{{expense | intcomma}}
        </div>
      </div>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-sm-4">
      <h4>収支</h4>
      <p class="resizeimage">
        <img src="{% url 'kakeibo:bars_balance' %}?year={{today.year}}&month={{today.month}}">
      </p>
      <table class="table table-light table-hover table-sm">
        <thead>
          <tr>
            <th>Key</th>
            <th class="right">Value</th>
          </tr>
        </thead>
        <tbody>
          {% for cw in current_way %}
          <tr>
            <td>{{cw.name}}</td>
            <td class="right">¥{{cw.val | intcomma}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-sm-4">
      <h4>資産状態</h4>
      <canvas id="bar_resources" width="320" height="360"></canvas>
      <table class="table table-light table-hover table-sm">
        <thead>
          <tr>
            <th>Key</th>
            <th class="right">Value</th>
          </tr>
        </thead>
        <tbody class="">
          {% for key, val in current_resource.items %}
          <tr>
            <td>{{key}}</td>
            <td class="right">¥{{val | intcomma}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-sm-4">
      <h4>支出用途</h4>
      <canvas id="pie_usage" width="320" height="360"></canvas>
      <table class="table table-light table-hover table-sm">
        <thead>
          <tr>
            <th>Key</th>
            <th class="right">Value</th>
          </tr>
        </thead>
        <tbody class="">
          {% for cu in current_usage %}
          <tr>
            <td>{{cu.name}}</td>
            <td class="right">¥{{cu.val | intcomma}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>

<!-- pie_usage -->
<script>
  var ctx = document.getElementById('pie_usage').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: [{%for cu in current_usage%}"{{cu.name}}",{%endfor%}],
      datasets: [{
        label: "alice",
        data: [{%for cu in current_usage%}{{cu.val}},{%endfor%}],
        backgroundColor: [
          "#2ecc71",
          "#3498db",
          "#95a5a6",
          "#9b59b6",
          "#f1c40f",
          "#e74c3c",
          "#34495e",
          "#bee95e",

          "#2ecc71",
          "#3498db",
          "#95a5a6",
          "#9b59b6",
          "#f1c40f",
          "#e74c3c",
          "#34495e",
          "#bee95e",
         ]
      }]
    }
  });
</script>


<!-- bar_resources -->
<script>
  var ctx = document.getElementById('bar_resources').getContext('2d');
  var options = {
    scales: {
      yAxes: [{
        stacked: true
      }]
    }
  }
  var colors = [
    "rgba(250,153,0,0.4)",
    "rgba(0,153,253,0.4)",
    "rgba(153,250,0,0.4)",
    "rgba(153,0,253, 0.4)",
    "rgba(253,0,150,0.4)",
  ]
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ["今月", "先月"],
      datasets: [
        {%for r in resources%}
        {
          label: "{{r.name}}",
          data: [{{r.this_month}}, {{r.last_month}}],
          backgroundColor: colors[{{ forloop.counter0 }}]
        },
        {% endfor %}
      ],
    },
    options: options
  });
</script>

<!-- bar_eom -->
<script>
  var ctx = document.getElementById('bar_eom').getContext('2d');
  var options = {
    scales: {
      yAxes: [{
        stacked: true
      }]
    }
  }
  var colors = [
    "rgba(250,153,  0,0.4)",
    "rgba(  0,153,253,0.4)",
    "rgba(153,250,  0,0.4)",
    "rgba(153,  0,253,0.4)",
    "rgba(253,  0,150,0.4)",
    "rgba(  0,253,153,0.4)",
  ]
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [{%for l in bar_eom.labels%}"{{l}}",{%endfor%}],
      datasets: [
        {%for key,val in bar_eom.data.items%}
        {
          label: "{{key}}",
          data: [{%for v in val%}{{v}},{%endfor%}],
          backgroundColor: colors[{{ forloop.counter0 }}]
        },
        {% endfor %}
      ],
    },
    options: options
  });
</script>

{% endblock %}
