{% extends "kakeibo/base.html" %}

{% block title %}
    Shared-Delete
{% endblock %}

{% block body %}
<div class="container">
    <hr>
    <h1><i class="far fa-list-alt"></i> 本当に削除しますか？</h1>
    <hr>

    <table class="table table-light table-hover table-sm table-bordered table-responsive-md">
        <tr>
            <th>id</th>
            <td>{{object.pk}}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{object.date | date}}</td>
        </tr>
        <tr>
            <th>Fee</th>
            <td>{{object.fee_yen}}</td>
        </tr>
        <tr>
            <th>Usage</th>
            <td><a href="{%url 'kakeibo:usage_detail' pk=object.usage.pk%}">{{object.usage}}</a></td>
        </tr>
        <tr>
            <th>Paid By</th>
            <td>{{object.paid_by}}</td>
        </tr>
        <tr>
            <th>Memo</th>
            <td>{{object.memo}}</td>
        </tr>
    </table>
    <div class="row">
        <div class="col-sm-6">
            <form method="POST">
                {% csrf_token %}
                <button class="btn btn-danger">Delete</button>
                <a href="{% url 'kakeibo:shared_list' %}" class="btn btn-secondary">Back to list</a>
            </form>

        </div>
    </div>
</div>

{% endblock %}
