{% extends "kakeibo/base.html" %}
{% load humanize %}
{% block title %}
    Usage-list
{% endblock %}

{% block body %}
<div class="container">
    <hr>
    <div class="row">
        <div class="col-sm-10">
            <h1><i class="fas fa-american-sign-language-interpreting"></i> 用途一覧</h1>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-outline-info btn-block" data-toggle="modal" data-target="#new_usage">
            <i class="far fa-plus-square"></i> New Usage
          </button>
        </div>
    </div>
    <hr>

    <!--<table class="table table-light table-hover table-sm table-bordered table-responsive-md">-->
        <!--<thead>-->
            <!--<tr>-->
                <!--<th class="right">ID</th>-->
                <!--<th class="lett">Name</th>-->
                <!--<th class="left">Is expense</th>-->
            <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
            <!--{% for usage in object_list %}-->
            <!--<tr>-->
                <!--<td class="right"><a href="{% url 'kakeibo:usage_detail' pk=usage.pk %}">{{usage.pk}}</a></td>-->
                <!--<td class="left">{{usage.name}}</td>-->
                <!--<td class="left">{{usage.is_expense}}</td>-->
            <!--</tr>-->
            <!--{% endfor %}-->
        <!--</tbody>-->
    <!--</table>-->
    <form method="GET">
      <input type="text" name="search" placeholder="search">
      <button class="submit">Search</button>
    </form>
    <div class="row">
        {% for usage in object_list %}
        {% with res=usage.get_kakeibos_2 %}
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-header">
                    <strong>{{usage.name}}</strong>
                </div>
                <div class="card-body">
                    <table class="table table-light table-sm table-hover">
                        <tr>
                            <th>種類</th>
                            <td class="right">
                                <span class="badge badge-{%if usage.is_expense%}warning{%else%}success{%endif%}">
                                    {% if usage.is_expense %}Expense{% else %}Income{% endif %}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th>概要</th>
                            <td class="right">{{usage.memo}}</td>
                        </tr>
                    </table>
                    <button class="btn btn-primary" onClick=location.href="{% url 'kakeibo:usage_detail' pk=usage.pk %}">
                        <i class="fas fa-info-circle"></i> Detail
                    </button>
                    <button class="btn btn-info" onClick=location.href="{% url 'kakeibo:usage_update' pk=usage.pk %}">
                        <i class="fas fa-edit"></i> Edit
                    </button>
                </div>
            </div>
            <br>
        </div>
        {% endwith %}
        {% endfor %}
    </div>

{% if is_paginated %}
  <ul class="pagination">
      {% if page_obj.has_previous %}
        <li><a class="page-link text-primary d-inline-block" href="?{{ page_obj.previous_page_number.querystring }}">前</a></li>
      {% else %}
        <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">前</div></li>
      {% endif %}

      {% for link_page in page_obj.pages %}
        {% if link_page %}
          {% if link_page == page_obj.number %}
            <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">{{ link_page }}</div></li>
          {% else %}
            <li><a class="page-link text-primary d-inline-block" href="?{{ link_page.querystring  }}">{{ link_page }}</a></li>
          {% endif %}
        {% else %}
          <li class="disabled"><a class="page-link text-secondary d-inline-block text-muted" href="#">・・・</a></li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li><a class="page-link text-primary d-inline-block" href="?{{ page_obj.next_page_number.querystring }}">次</a></li>
      {% else %}
        <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">次</div></li>
      {% endif %}
      <li class="p-md-2">
        {{ page_obj.paginator.num_pages }} 頁中 {{ page_obj.number }} 頁目を表示
      </li>
  </ul>
{% endif %}
</div>

<!--============================================================ -->
                          <!--MODAL-->
<!--============================================================ -->
<!-- Modal new-usage -->
<div class="modal fade" id="new_usage" tabindex="-1" role="dialog" aria-labelledby="new_usage" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new_usage_Label">
          <i class="far fa-plus-square"></i> New Usage
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="">
        <div class="modal-body">
          {% csrf_token %}
          <table>
            {{ form }}
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" name="post_type" value="new_record">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}
