{% extends "kakeibo/base.html" %}
{% load humanize %}
{% block title %}
    Usage-Detail
{% endblock %}

{% block body %}
<div class="container-fluid">
    <hr>
    <div class="row">
        <div class="col-sm-10">
          <h1><i class="fas fa-american-sign-language-interpreting"></i> 用途詳細【{{object.name}}】</h1>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-secondary btn-block" onClick=location.href="{%url 'kakeibo:usage_list'%}">
                <i class="far fa-caret-square-left"></i> Back to list
            </button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <!--リスト-->
            <h2>一覧</h2>
            <!-- タブボタン部分 -->
            <ul class="nav nav-pills" role="tablist">
                {% if object.get_kakeibos.all.data.exists %}
                <li class="nav-item">
                  <a href="#list12" class="nav-link active" data-toggle="pill">月別現金支出</a>
                </li>
                {% for km in object.get_kakeibos.month %}
                {% if km.count > 0 %}
                <li class="nav-item">
                    <a href="#list_{{forloop.counter0}}" class="nav-link" data-toggle="pill">
                        {{km.date.year}}年{{km.date.month}}月
                    </a>
                </li>
                {% endif %}
                {% endfor %}
                {% endif %}
            </ul>
            <hr>
            <!--タブのコンテンツ部分-->
            <div class="tab-content">
                <div id="list12" class="tab-pane active">
                    <div class="row">
                        <div class="col-12 col-sm-3">
                            <h2>月別</h2>
                        </div>
                        <div class="col-12 col-sm-3">
                            <button class="btn btn-success btn-block">
                                合計 <span class="badge badge-light">¥ {{object.get_kakeibos.all.sum |intcomma}} </span>
                            </button>
                        </div>
                        <div class="col-12 col-sm-3">
                            <button class="btn btn-warning btn-block">
                                平均 <span class="badge badge-light">¥ {{object.get_kakeibos.all.avg |floatformat:"0"|intcomma}} </span>
                            </button>
                        </div>
                        <div class="col-12 col-sm-3">
                            <button class="btn btn-info btn-block">
                                個数 <span class="badge badge-light">{{object.get_kakeibos.all.count |intcomma}} </span>
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <canvas id="line_usage_shift"></canvas>
                        </div>
                        <div class="col-sm-6">
                            <table class="table table-light table-hover table-sm table-bordered">
                                <tr>
                                    <th>Date</th>
                                    <th class="right">Sum</th>
                                    <th class="right">Avg</th>
                                    <th class="right">Count</th>
                                </tr>
                                {%for k in object.shift_kakeibos.reverse %}
                                <tr>
                                    <td>{{k.month.year}}年{{k.month.month}}月</td>
                                    <td class="right">¥{{k.sum | intcomma}}</td>
                                    <td class="right">¥{{k.avg | floatformat | intcomma}}</td>
                                    <td class="right">{{k.count}}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>

                {% for km in object.get_kakeibos.month %}
                <div id="list_{{forloop.counter0}}" class="tab-pane">
                    <div class="row">
                        <div class="col-12 col-sm-3">
                            <h2>{{km.date.year}}年{{km.date.month}}月</h2>
                        </div>
                        <div class="col-12 col-sm-3">
                            <button class="btn btn-success btn-block">
                                合計 <span class="badge badge-light">¥ {{km.sum |intcomma}} </span>
                            </button>
                        </div>
                        <div class="col-12 col-sm-3">
                            <button class="btn btn-warning btn-block">
                                平均 <span class="badge badge-light">¥ {{km.avg |floatformat:"0"|intcomma}} </span>
                            </button>
                        </div>
                        <div class="col-12 col-sm-3">
                            <button class="btn btn-info btn-block">
                                個数 <span class="badge badge-light">{{km.count |intcomma}} </span>
                            </button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-6">
                            <canvas id="pie_usage_{{forloop.counter0}}"></canvas>
                        </div>
                        <hr>
                        <div class="col-sm-6">
                            <table class="table table-light table-hover table-sm table-bordered">
                                <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th class="right">Fee</th>
                                    <th>Memo</th>
                                </tr>
                                {%for k in km.data %}
                                <tr>
                                    <td><a href="{%url 'kakeibo:kakeibo_detail' pk=k.pk%}">{{k.pk}}</a></td>
                                    <td>{{k.date}}</td>
                                    <td class="right">{{k.fee_yen}}</td>
                                    <td>{{k.memo}}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<!-- pie_usage -->
{% if object.get_kakeibos.all.data.exists %}
{% for km in object.get_kakeibos.month%}
<script>
  var ctx = document.getElementById('pie_usage_{{forloop.counter0}}').getContext('2d');
  if (window.innerWidth < 400) {
    var is_display = false;
  } else {
    var is_display = true;
  }
  var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: [{%for k in km.data %}"{{k.date}}{%if k.memo%}/{{k.memo}}{%endif%}",{%endfor%}],
      datasets: [{
        label: "alice",
        data: [{%for k in km.data %}{{k.fee}},{%endfor%}],
        backgroundColor: [
          "#2ecc71",
          "#3498db",
          "#95a5a6",
          "#9b59b6",
          "#f1c40f",
          "#e74c3c",
          "#34495e",
          "#bee95e",

          "#2ecc71",
          "#3498db",
          "#95a5a6",
          "#9b59b6",
          "#f1c40f",
          "#e74c3c",
          "#34495e",
          "#bee95e",
         ]
      }]
    },
    options: {
      legend: {
        position: "right",
        display: is_display
      }
    }
  });
</script>
{% endfor %}

<!-- bar_resources -->
<script>
  var ctx = document.getElementById('line_usage_shift').getContext('2d');
  ctx.canvas.width = 100
  ctx.canvas.height = 150
  var myChart = new Chart(ctx, {
    type: 'horizontalBar',
    data: {
      labels: [{%for k in object.shift_kakeibos.reverse %}"{{k.month.year}}年{{k.month.month}}月",{%endfor%}],
      datasets: [
        {
          label: "Sum",
          data: [{%for k in object.shift_kakeibos.reverse %}{{k.sum}},{%endfor%}],
          borderColor: 'rgba(60, 160, 220, 0.8)',
          backgroundColor: 'rgba(60, 160, 220, 0.3)',
        }
      ],
    },
    options: {
        legend: {
            display: false
        }
    }
  });
</script>
{% endif %}

{% endblock %}