{% extends "kakeibo/base.html" %}
{% load humanize %}
{% block title %}
    Usage-Detail
{% endblock %}

{% block body %}
<div class="container">
    <hr>
    <h1><i class="fas fa-american-sign-language-interpreting"></i> 用途詳細</h1>
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <h4>詳細</h4>
            <table class="table table-light table-hover table-sm table-bordered table-responsive-md">
                <tr>
                    <th>id</th>
                    <td class="right" colspan="2">{{object.pk}}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td class="right" colspan="2">{{object.name}}</td>
                </tr>
                <tr>
                    <th></th>
                    <th class="right">This month</th>
                    <th class="right">All</th>
                </tr>
                <tr>
                    <th>Sum (Cash)</th>
                    <td class="right">
                        {% if object.check_kakeibo.month %}
                        ¥{{object.sum_kakeibos.month | intcomma}}
                        {% else %}
                        ¥0
                        {% endif %}
                    </td>
                    <td class="right">
                        {% if object.sum_kakeibos.all %}
                        ¥{{object.sum_kakeibos.all | intcomma}}
                        {% else %}
                        ¥0
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Sum (Credit)</th>
                    <td class="right">
                        {% if object.check_credit.month %}
                        ¥{{object.sum_credit.month | intcomma}}
                        {% else %}
                        ¥0
                        {% endif %}
                    </td>
                    <td class="right">
                        {% if object.sum_credit.all %}
                        ¥{{object.sum_credit.all | intcomma}}
                        {% else %}
                        ¥0
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Average (Cash)</th>
                    <td class="right">
                        {% if object.check_kakeibo.month %}
                        ¥{{object.avg_kakeibos.month | intcomma}}
                        {% else %}
                        ¥0
                        {% endif %}
                    </td>
                    <td class="right">
                        {% if object.avg_kakeibos.all %}
                        ¥{{object.avg_kakeibos.all | intcomma}}
                        {% else %}
                        ¥0
                        {% endif %}
                    </td>
                </tr>
            </table>
            <a href="{%url 'kakeibo:usage_list' %}" class="btn btn-secondary">Back to list</a>

            <!--リスト-->
            <hr>
            <h4>一覧</h4>
            <!-- タブボタン部分 -->
            <ul class="nav nav-tabs">
                {% if object.check_kakeibo.all %}
                <li class="nav-item">
                    <a href="#list1" class="nav-link active" data-toggle="tab">今月の現金支出</a>
                </li>
                <li class="nav-item">
                  <a href="#list2" class="nav-link" data-toggle="tab">現金支出</a>
                </li>
                <li class="nav-item">
                  <a href="#list12" class="nav-link" data-toggle="tab">月別現金支出</a>
                </li>
                {% endif %}
                {%if object.check_shared.all %}
                <li class="nav-item">
                  <a href="#list3" class="nav-link" data-toggle="tab">今月の共通支出</a>
                </li>
                <li class="nav-item">
                  <a href="#list4" class="nav-link" data-toggle="tab">共通支出</a>
                </li>
                {% endif %}
                {%if object.check_credit.all %}
                <li class="nav-item">
                  <a href="#list5" class="nav-link" data-toggle="tab">今月のクレジット</a>
                </li>
                <li class="nav-item">
                  <a href="#list6" class="nav-link" data-toggle="tab">クレジット</a>
                </li>
                {% endif %}
            </ul>

            <!--タブのコンテンツ部分-->
            <div class="tab-content">
                <div id="list1" class="tab-pane active">
                    <table class="table table-light table-hover table-sm table-bordered table-responsive-md">
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th class="right">Fee</th>
                            <th>Memo</th>
                        </tr>
                        {%for k in object.get_kakeibos.month %}
                        <tr>
                            <td><a href="{%url 'kakeibo:kakeibo_detail' pk=k.pk%}">{{k.pk}}</a></td>
                            <td>{{k.date}}</td>
                            <td class="right">{{k.fee_yen}}</td>
                            <td>{{k.memo}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div id="list2" class="tab-pane">
                    <table class="table table-light table-hover table-sm table-bordered table-responsive-md">
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th class="right">Fee</th>
                            <th>Memo</th>
                        </tr>
                        {%for k in object.get_kakeibos.all %}
                        <tr>
                            <td><a href="{%url 'kakeibo:kakeibo_detail' pk=k.pk%}">{{k.pk}}</a></td>
                            <td>{{k.date}}</td>
                            <td class="right">{{k.fee_yen}}</td>
                            <td>{{k.memo}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div id="list12" class="tab-pane">
                    <table class="table table-light table-hover table-sm table-bordered table-responsive-md">
                        <tr>
                            <th>Date</th>
                            <th class="right">Sum</th>
                            <th class="right">Avg</th>
                            <th class="right">Count</th>
                        </tr>
                        {%for k in object.shift_kakeibos.reverse %}
                        <tr>
                            <td>{{k.month.year}}年{{k.month.month}}月</td>
                            <td class="right">¥{{k.sum | intcomma}}</td>
                            <td class="right">¥{{k.avg | floatformat | intcomma}}</td>
                            <td class="right">{{k.cnt}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div id="list3" class="tab-pane">
                    <table class="table table-light table-hover table-sm table-bordered table-responsive-md">
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th class="right">Fee</th>
                            <th>Paid By</th>
                        </tr>
                        {%for k in object.get_shared.month %}
                        <tr>
                            <td><a href="{%url 'kakeibo:shared_detail' pk=k.pk%}">{{k.pk}}</a></td>
                            <td>{{k.date}}</td>
                            <td class="right">{{k.fee_yen}}</td>
                            <td>{{k.paid_by}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div id="list4" class="tab-pane">
                    <table class="table table-light table-hover table-sm table-bordered table-responsive-md">
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th class="right">Fee</th>
                            <th>Credit Item</th>
                        </tr>
                        {%for k in object.get_shared.all %}
                        <tr>
                            <td><a href="{%url 'kakeibo:shared_detail' pk=k.pk%}">{{k.pk}}</a></td>
                            <td>{{k.date}}</td>
                            <td class="right">{{k.fee_yen}}</td>
                            <td>{{k.paid_by}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div id="list5" class="tab-pane">
                    <table class="table table-light table-hover table-sm table-bordered table-responsive-md">
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th class="right">Fee</th>
                            <th>Credit Item</th>
                        </tr>
                        {%for k in object.get_credit.month %}
                        <tr>
                            <td><a href="{%url 'kakeibo:credit_detail' pk=k.pk%}">{{k.pk}}</a></td>
                            <td>{{k.date}}</td>
                            <td class="right">{{k.fee_yen}}</td>
                            <td><a href="">{{k.credit_item}}</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <div id="list6" class="tab-pane">
                    <table class="table table-light table-hover table-sm table-bordered table-responsive-md">
                        <tr>
                            <th>ID</th>
                            <th>Date</th>
                            <th class="right">Fee</th>
                            <th>Credit Item</th>
                        </tr>
                        {%for k in object.get_credit.all %}
                        <tr>
                            <td><a href="{%url 'kakeibo:credit_detail' pk=k.pk%}">{{k.pk}}</a></td>
                            <td>{{k.date}}</td>
                            <td class="right">{{k.fee_yen}}</td>
                            <td><a href="{%url 'kakeibo:credit_item_detail' pk=k.credit_item.pk %}">{{k.credit_item}}</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <!--グラフ-->
        <div class="col-sm-6">
            <h4>グラフ</h4>
            <!-- タブボタン部分 -->
            <ul class="nav nav-tabs">
                {% if object.check_kakeibo.all %}
                <li class="nav-item">
                    <a href="#fig1" class="nav-link active" data-toggle="tab">今月の現金支出</a>
                </li>
                <li class="nav-item">
                  <a href="#fig2" class="nav-link" data-toggle="tab">現金支出</a>
                </li>
                <li class="nav-item">
                  <a href="#fig12" class="nav-link" data-toggle="tab">現金支出推移</a>
                </li>
                {% endif %}
                {%if object.check_shared.all %}
                <li class="nav-item">
                  <a href="#fig3" class="nav-link" data-toggle="tab">今月の共通支出</a>
                </li>
                <li class="nav-item">
                  <a href="#fig4" class="nav-link" data-toggle="tab">共通支出</a>
                </li>
                {% endif %}
                {%if object.check_credit.all %}
                <li class="nav-item">
                  <a href="#fig5" class="nav-link" data-toggle="tab">今月のクレジット</a>
                </li>
                <li class="nav-item">
                  <a href="#fig6" class="nav-link" data-toggle="tab">クレジット</a>
                </li>
                {% endif %}
            </ul>
            <!--タブのコンテンツ部分-->
            <div class="tab-content">
                <div id="fig1" class="tab-pane active">
                    <canvas id="pie_usage"></canvas>
                </div>
                <div id="fig2" class="tab-pane">
                    <canvas id="pie_usage_all"></canvas>
                </div>
                <div id="fig12" class="tab-pane">
                    <canvas id="line_usage_shift" width="100" height="100"></canvas>
                </div>
                <div id="fig3" class="tab-pane">
                    <canvas id="pie_usage_shared"></canvas>
                </div>
                <div id="fig4" class="tab-pane">
                    <canvas id="pie_usage_shared_all"></canvas>
                </div>
                <div id="fig5" class="tab-pane">
                    <canvas id="pie_usage_credit"></canvas>
                </div>
                <div id="fig6" class="tab-pane">
                    <canvas id="pie_usage_credit_all"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<!-- pie_usage -->
<script>
  var ctx = document.getElementById('pie_usage').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: [{%for k in object.get_kakeibos.month %}"{{k.date}}{%if k.memo%}/{{k.memo}}{%endif%}",{%endfor%}],
      datasets: [{
        label: "alice",
        data: [{%for k in object.get_kakeibos.month %}{{k.fee}},{%endfor%}],
        backgroundColor: [
          "#2ecc71",
          "#3498db",
          "#95a5a6",
          "#9b59b6",
          "#f1c40f",
          "#e74c3c",
          "#34495e",
          "#bee95e",

          "#2ecc71",
          "#3498db",
          "#95a5a6",
          "#9b59b6",
          "#f1c40f",
          "#e74c3c",
          "#34495e",
          "#bee95e",
         ]
      }]
    }
  });
</script>

<!-- pie_usage_shared -->
<script>
  var ctx = document.getElementById('pie_usage_shared').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: [{%for k in object.get_shared.month %}"{{k.date}}/{{k.paid_by}}",{%endfor%}],
      datasets: [{
        label: "alice",
        data: [{%for k in object.get_shared.month %}{{k.fee}},{%endfor%}],
        backgroundColor: [
          "#2ecc71",
          "#3498db",
          "#95a5a6",
          "#9b59b6",
          "#f1c40f",
          "#e74c3c",
          "#34495e",
          "#bee95e",

          "#2ecc71",
          "#3498db",
          "#95a5a6",
          "#9b59b6",
          "#f1c40f",
          "#e74c3c",
          "#34495e",
          "#bee95e",
         ]
      }]
    }
  });
</script>

<!-- pie_usage_credit -->
<script>
  var ctx = document.getElementById('pie_usage_credit').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: [{%for k in object.get_credit.month %}"{{k.date}}{%if k.memo%}/{{k.memo}}{%endif%}",{%endfor%}],
      datasets: [{
        label: "alice",
        data: [{%for k in object.get_credit.month %}{{k.fee}},{%endfor%}],
        backgroundColor: [
          {% for i in object.get_credit.month %}
          "#2ecc71",
          "#3498db",
          "#95a5a6",
          "#9b59b6",
          "#f1c40f",
          "#e74c3c",
          "#34495e",
          "#bee95e",
          {% endfor %}
         ]
      }]
    },
    options: {
      legend: {
        display: false
      }
    }
  });
</script>

<!-- pie_usage_all -->
<script>
  var ctx = document.getElementById('pie_usage_all').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: [{%for k in object.get_kakeibos.all %}"{{k.date}}{%if k.memo%}/{{k.memo}}{%endif%}",{%endfor%}],
      datasets: [{
        label: "alice",
        data: [{%for k in object.get_kakeibos.all %}{{k.fee}},{%endfor%}],
        backgroundColor: [
          {% for i in object.get_kakeibos.all %}
          "#2ecc71",
          "#3498db",
          "#95a5a6",
          "#9b59b6",
          "#f1c40f",
          "#e74c3c",
          "#34495e",
          "#bee95e",
          {% endfor %}
         ]
      }]
    },
    options: {
      legend: {
        display: false
      }
    }
  });
</script>

<!-- pie_usage_shared_all -->
<script>
  var ctx = document.getElementById('pie_usage_shared_all').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: [{%for k in object.get_shared.all %}"{{k.date}}/{{k.paid_by}}",{%endfor%}],
      datasets: [{
        label: "alice",
        data: [{%for k in object.get_shared.all %}{{k.fee}},{%endfor%}],
        backgroundColor: [
          {% for i in object.get_shared.all %}
          "#2ecc71",
          "#3498db",
          "#95a5a6",
          "#9b59b6",
          "#f1c40f",
          "#e74c3c",
          "#34495e",
          "#bee95e",
          {% endfor %}
         ]
      }]
    },
    options: {
      legend: {
        display: false
      }
    }
  });
</script>

<!-- pie_usage_credit_all -->
<script>
  var ctx = document.getElementById('pie_usage_credit_all').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
      labels: [{%for k in object.get_credit.all %}"{{k.date}}{%if k.memo%}/{{k.memo}}{%endif%}",{%endfor%}],
      datasets: [{
        label: "alice",
        data: [{%for k in object.get_credit.all %}{{k.fee}},{%endfor%}],
        backgroundColor: [
          {% for i in object.get_credit.all %}
          "#2ecc71",
          "#3498db",
          "#95a5a6",
          "#9b59b6",
          "#f1c40f",
          "#e74c3c",
          "#34495e",
          "#bee95e",
          {% endfor %}
         ]
      }]
    },
    options: {
      legend: {
        display: false
      }
    }
  });
</script>

<!-- bar_resources -->
<script>
  var ctx = document.getElementById('line_usage_shift').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [{%for k in object.shift_kakeibos %}"{{k.month.year}}年{{k.month.month}}月",{%endfor%}],
      datasets: [
        {
          type: "line",
          label: "Sum",
          data: [{%for k in object.shift_kakeibos %}{{k.sum}},{%endfor%}],
          borderColor: 'rgba(60, 160, 220, 0.8)',
          backgroundColor: 'rgba(60, 160, 220, 0.3)',
        }, {
          type: "bar",
          label: "Avg",
          data: [{%for k in object.shift_kakeibos %}{{k.avg}},{%endfor%}],
          borderColor: 'rgba(160, 60, 220, 0.8)',
          backgroundColor: 'rgba(160, 60, 220, 0.3)',
        },{
          type: "bar",
          label: "Count",
          data: [{%for k in object.shift_kakeibos %}{{k.cnt}},{%endfor%}],
          borderColor: 'rgba(220, 60, 160, 0.8)',
          backgroundColor: 'rgba(220, 60, 160, 0.3)',
        }

      ],
    },
  });
</script>
{% endblock %}