{% extends "kakeibo/base.html" %}
{% load humanize %}
{% block title %}
    Usage-list
{% endblock %}

{% block body %}
<div class="container">
    <hr>
    <h1><i class="fas fa-american-sign-language-interpreting"></i> 用途一覧</h1>
    <hr>

    <!--<table class="table table-light table-hover table-sm table-bordered table-responsive-md">-->
        <!--<thead>-->
            <!--<tr>-->
                <!--<th class="right">ID</th>-->
                <!--<th class="lett">Name</th>-->
                <!--<th class="left">Is expense</th>-->
            <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
            <!--{% for usage in object_list %}-->
            <!--<tr>-->
                <!--<td class="right"><a href="{% url 'kakeibo:usage_detail' pk=usage.pk %}">{{usage.pk}}</a></td>-->
                <!--<td class="left">{{usage.name}}</td>-->
                <!--<td class="left">{{usage.is_expense}}</td>-->
            <!--</tr>-->
            <!--{% endfor %}-->
        <!--</tbody>-->
    <!--</table>-->
    <div class="row">
        {% for usage in object_list %}
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card">
                <div class="card-header">
                    <span class="badge badge-{%if usage.is_expense%}warning{%else%}success{%endif%}">
                        {% if usage.is_expense %}Expense{% else %}Income{% endif %}
                    </span>
                    <strong>{{usage.name}}</strong>
                </div>
                <div class="card-body">
                    <table class="table table-light table-sm table-hover">
                        <tr>
                            <th>合計</th>
                            <td class="right">¥ {{usage.get_kakeibos.all.sum |intcomma}}</td>
                        </tr>
                        <tr>
                            <th>今月合計</th>
                            <td class="right">
                                {%if usage.get_kakeibos.month.0.sum%}¥ {{usage.get_kakeibos.month.0.sum |intcomma}}
                                {%else%}¥ 0
                                {%endif%}
                            </td>
                        </tr>
                    </table>
                    <button class="btn btn-primary" onClick=location.href="{% url 'kakeibo:usage_detail' pk=usage.pk %}">
                        <i class="fas fa-info-circle"></i> Detail
                    </button>
                </div>
            </div>
            <br>
        </div>
        {% endfor %}
    </div>

{% if is_paginated %}
  <ul class="pagination">
      {% if page_obj.has_previous %}
        <li><a class="page-link text-primary d-inline-block" href="?{{ page_obj.previous_page_number.querystring }}">前</a></li>
      {% else %}
        <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">前</div></li>
      {% endif %}

      {% for link_page in page_obj.pages %}
        {% if link_page %}
          {% if link_page == page_obj.number %}
            <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">{{ link_page }}</div></li>
          {% else %}
            <li><a class="page-link text-primary d-inline-block" href="?{{ link_page.querystring  }}">{{ link_page }}</a></li>
          {% endif %}
        {% else %}
          <li class="disabled"><a class="page-link text-secondary d-inline-block text-muted" href="#">・・・</a></li>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <li><a class="page-link text-primary d-inline-block" href="?{{ page_obj.next_page_number.querystring }}">次</a></li>
      {% else %}
        <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">次</div></li>
      {% endif %}
      <li class="p-md-2">
        {{ page_obj.paginator.num_pages }} 頁中 {{ page_obj.number }} 頁目を表示
      </li>
  </ul>
{% endif %}
</div>

{% endblock %}
