<!-- Modal new-record -->
<div class="modal fade" id="usual_record" tabindex="-1" role="dialog" aria-labelledby="usual_record" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new_record_Label">
          <i class="fas fa-clone"></i> Usual Record
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="">
        {% csrf_token %}
        <input type="hidden" name="post_type" value="usual_record">
        <div class="modal-body">
          <div class="row">
              {% for ur in usual_records %}
              <div class="col-12 col-md-6">
                  <button type="submit" class="btn btn-block btn-outline-success" name="usual_id" value="{{ ur.id }}">
                      {% if ur.icon %}{{ ur.icon | safe}}{% endif %} {{ ur.memo }} {{ ur.fee_yen }}
                  </button>
              </div>
              {% endfor %}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>