<!-- Modal new-record -->
<div class="modal fade" id="new_record" tabindex="-1" role="dialog" aria-labelledby="new_record" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new_record_Label">
          <i class="fas fa-user-circle"></i> New Kakeibo Record
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="{%url 'kakeibo:kakeibo_create' %}">
        <div class="modal-body">
          {% csrf_token %}
          <table>
            {{ kakeibo_form }}
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" name="post_type" value="new_record">Register</button>
        </div>
        <input type="hidden" name="source_path" value="{{request.get_full_path}}">
      </form>
    </div>
  </div>
</div>