<!-- Modal new-record-shared -->
<div class="modal fade" id="new_record_shared" tabindex="-1" role="dialog" aria-labelledby="new_record" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="new_record_shared_Label">
          <i class="fas fa-people-carry"></i> New Shared Record
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action="">
        <div class="modal-body">
          {% csrf_token %}
          <table>
            {{ shared_form.as_table }}
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" name="post_type" value="new_record_shared">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>