{% extends "kakeibo/base.html" %}
{% load humanize %}
{% load web_template %}
{% block title %}
    Entry Detail {{entry.stock}}
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<h4>
				<i class="fas fa-paw"></i> Entry Detail
				{% include 'web/part/entry_type.html' %}
			</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-md-9">
			<h5>Overview</h5>
			<table class="table">
				<tr>
					<th>Stock</th>
					<td>
						<a href="{%url 'web:stock_detail' stock_code=entry.stock.code%}">
							{{entry.stock}}
						</a>
					</td>
					<th>Market / Industry</th>
					<td>{{entry.stock.market |default:"-"}} / {{entry.stock.industry |default:"-"}} </td>
				</tr>
				<tr>
					<th>Open Date</th>
					<td>{{entry.date_open |default_if_none:"-"}}</td>
					<th>Close Date</th>
					<td>{{entry.date_close |default_if_none:"-"}}</td>
				</tr>
				<tr>
					<th>利確株価</th>
					<td>
						¥{{entry.border_profit_determination |default_if_none:"-" |intcomma }}
						{% if entry.border_profit_determination < entry.val_sell and entry.is_closed%}
						<label class="badge badge-success"><i class="fas fa-thumbs-up"></i> Good</label>
						{%endif%}
					</td>
					<th>利確利益</th>
					<td>
						¥{{entry.profit_profit_determination |floatformat:0 |default_if_none:"-" |intcomma }}
						{% if entry.is_plan %}
						({{ entry.border_profit_determination_percent }}%)
						{% else %}
						({% widthratio entry.profit_profit_determination entry.total_buy 100.0 %}%)
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>損切株価</th>
					<td>
						¥{{entry.border_loss_cut |default_if_none:"-" |intcomma}}　
						{% if entry.border_loss_cut > entry.val_sell and entry.is_closed%}
						<label class="badge badge-danger"><i class="fas fa-thumbs-down"></i> Bad</label>
						{%endif%}
					</td>
					<th>損切損失</th>
					<td>
						{{entry.profit_loss_cut |yen |safe}}
						{% if entry.is_plan %}
						({{ entry.border_loss_cut_percent }}%)
						{% else %}
						({% widthratio entry.profit_loss_cut entry.total_buy 100.0 %}%)
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>予定口数</th>
					<td>{{entry.num_plan |intcomma |default:"-"}}</td>
					<th>Reason</th>
					<td>{{entry.reason_win_loss |default_if_none:"-"}}</td>
				</tr>
				<tr>
					<th>Memo</th>
					<td colspan="3">{{entry.memo |default:"-" |linebreaksbr}}</td>
				</tr>
			</table>
			<hr>

			<a class="btn btn-outline-info" href="{%url 'web:entry_edit' pk=entry.pk%}">
				<i class="fas fa-edit"></i> Edit
			</a>
			<a class="btn btn-outline-danger" href="{%url 'web:entry_delete' pk=entry.pk%}">
				<i class="fas fa-trash-alt"></i> Delete
			</a>
			<a class="btn btn-outline-secondary" href="{%url 'web:entry_list' %}">
				<i class="fas fa-backward"></i> Back
			</a>
			{%if entry.is_plan and not entry.is_in_order and entry.num_plan > 0%}
			{% include 'web/part/ajaxbtn_buy_order.html' %}
			{%endif%}
		</div>
		<div class="col-12 col-md-3">
			<h5>Current Status</h5>
			<table class="table">
				{% include 'web/part/finance_type.html' %}
				{% if entry.is_closed %}
				<tr>
					<th>口数</th>
					<td class="right">{{entry.num_buy |intcomma}}</td>
				</tr>
				<tr>
					<th>買付平均</th>
					<td class="right">
						{% if entry.stock.is_trust %}
						¥{{entry.val_buy |floatformat:4 |intcomma}}
						{% else %}
						¥{{entry.val_buy |floatformat:0 |intcomma}}
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>売付平均</th>
					<td class="right">¥{{entry.val_sell |floatformat:0 |intcomma}}</td>
				</tr>
				<tr>
					<th>利益</th>
					<td class="right">{{entry.profit |yen |safe}}</td>
				</tr>
				<tr>
					<th>利益（％）</th>
					<td class="right"> {% widthratio entry.profit entry.total_buy 100.0 %}%</td>
				</tr>
				{% else %}
				<tr>
					<th>残口数</th>
					<td class="right">{{entry.remaining |intcomma}}</td>
				</tr>
				<tr>
					<th>買付平均</th>
					<td class="right">
						{% if entry.stock.is_trust %}
						¥{{entry.val_buy |floatformat:4 |intcomma}}
						{% else %}
						¥{{entry.val_buy |floatformat:0 |intcomma}}
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>現在株価</th>
					<td class="right">¥{{overview.val | intcomma}}</td>
				</tr>
				<tr>
					<th>現在利益</th>
					<td class="right">{{entry.profit |yen |safe}}</td>
				</tr>
				<tr>
					<th>現在利益（％）</th>
					<td class="right">{% widthratio overview.val entry.val_buy 100.0 %}%</td>
				</tr>
				{% endif %}
			</table>
		</div>
	</div>

	<hr>
	<div class="row">
		<div class="col-12 col-sm-5">
			<h5>Linked Orders</h5>
			<form action="" method="post">
				<table class="table table-responsive">
					<tr>
						<th></th>
						<th>No.</th>
						<th>Date</th>
						<th>Type</th>
						<th class="right">Num</th>
						<th class="right">Val</th>
					</tr>
					{% for order in orders_linked %}
					<tr>
						<td><input type="checkbox" name="pk" value="{{order.pk}}"></td>
						<td>
							<a href="{%url 'web:order_detail' order_id=order.id%}">{{order.pk}}</a>
						</td>
						<td>{{order.datetime}}</td>
						<td>{% include 'web/part/order_type.html' %}</td>
						<td class="right">{{order.num | intcomma}}</td>
						<td class="right">{{order.val | intcomma}}</td>
					</tr>
					{%endfor%}
				</table>
				<button type="submit" name="post_type" value="unlink_orders" class="btn btn-outline-secondary">
					<i class="fas fa-unlink"></i> Unlink orders
				</button>
				{% include 'web/modal/modal_link_orders.html' %}
				{% csrf_token %}
			</form>

			<hr>
			<h5>Alert</h5>
			<table class="table">
				<tr>
					<th>No</th>
					<th>Open</th>
					<th>Alert</th>
				</tr>
				{% for sbialert in sbialerts %}
				<tr>
					<td>{{sbialert.id}}</td>
					<td>{{sbialert.created_at}}</td>
					<td>{{sbialert.val |intcomma}} {{sbialert.get_type_display}}</td>
				</tr>
				{% endfor %}
			</table>
			{% include 'web/modal/modal_sbialert.html' %}

			<hr>
			<h5>Analysis</h5>
			<table class="table table-responsive">
				<tr>
					<th>種類</th>
					<th>日付</th>
					<th>上ひげ</th>
					<th>下ひげ</th>
					<th>陽線/陰線</th>
				</tr>
				{% for d in df_check %}
				<tr>
					<td>
						<label class="badge badge-{%if d.is_bottom%}success{%else%}danger{%endif%}">{{d.type}}</label>
					</td>
					<td>{{d.df.date}}</td>
					<td>{{d.df.upper_mustache}}</td>
					<td>{{d.df.lower_mustache}}</td>
					<td>{{d.df.val_line}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div class="col-12 col-sm-7">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title">
						{{od}} ~ {{cd}}
						{% include 'web/part/trend_type.html' %}
					</h5>
				</div>
				<div class="card-body">
					<p class="card-title">({{entry.stock.code}}) {{entry.stock.name}}</p>
					<div class="candlestick-1day"></div>
					<hr>
					<p class="card-title">終値</p>
					<canvas id="analysis" width="300" height="150"></canvas>
				</div>
				<div class="card-footer">
				</div>
			</div>
		</div>
	</div>
</div>

{% include 'web/part/chart.html' %}

<script src="/document/js/candlestick.js"></script>
<script>
	window.onload = function() {
		var trades = [
			{% for o in orders_linked %}
			{
				date: "{{o.datetime|date:"Y-m-d"}}",
				type: "{%if o.is_buy%}buy{%else%}sell{%endif%}",
				price: {%if o.stock.is_trust%}100{{o.val}}{%else%}{{o.val}}{%endif%},
				quantity: {{o.num}},
			},
      {% endfor %}
    ];
    var data = [
      {% for svd in svds %}
      {
        Date: "{{svd.date|date:"Y-m-d"}}",
        High: {{svd.val_high}},
        Low: {{svd.val_low}},
        Open: {{svd.val_open}},
        Close: {{svd.val_close}},
        Volume: {{svd.turnover}},
      },
      {% endfor %}
    ];
		displayCandlestick(data, "1day", trades);
		// 画面をリサイズした時に発火する
		$(window).on("resize", function() {
			displayCandlestick(data, "1day", trades);
		});
	}
</script>

{% endblock %}