{% extends "kakeibo/base.html" %}
{% load humanize %}
{% load web_template %}
{% block title %}
    Entry Detail {{entry.stock}}
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<h4>
				<i class="fas fa-paw"></i> Entry Detail
				{% include 'web/part/entry_close_status.html' %}
			</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-12 col-md-8">
			<h5><i class="fas fa-info-circle"></i> Overview</h5>
			<table class="table table-responsive-sm">
				<tr>
					<th>作成日</th>
					<td>{{entry.created_at}}</td>
					<th>更新日</th>
					<td>{{entry.updated_at}}</td>
				</tr>
				<tr>
					<th>Stock</th>
					<td>
						<a href="{%url 'web:stock_detail' stock_code=entry.stock.code %}">
							{{entry.stock}}
						</a>
					</td>
					<th>Market / Industry</th>
					<td>{{entry.stock.market |default:"-"}} / {{entry.stock.industry |default:"-"}} </td>
				</tr>
				<tr>
					<th>Entry Type</th>
					<td>{%include 'web/part/entry_type.html'%}</td>
					<th>Status</th>
					<td>{{entry.status |default:"-"}}</td>
				</tr>
				<tr>
					<th>Open Date</th>
					<td>{{entry.date_open |default_if_none:"-"}}</td>
					<th>Close Date</th>
					<td>{{entry.date_close |default_if_none:"-"}}</td>
				</tr>
				<tr>
					<th>利確株価</th>
					<td>
						{% if entry.stock.is_trust %}
						{{entry.border_profit_determination |yen:4 |safe}}
						{% else %}
						{{entry.border_profit_determination |yen |safe}}
						{% endif %}
						{% if entry.border_profit_determination < entry.val_sell and entry.is_closed%}
						<label class="badge badge-success"><i class="fas fa-thumbs-up"></i> Good</label>
						{%endif%}
					</td>
					<th>利確利益</th>
					<td>
						{{entry.profit_profit_determination  |yen |safe}}
						({{entry.border_profit_determination_percent |pct |safe}})
					</td>
				</tr>
				<tr>
					<th>損切株価</th>
					<td>
						{% if entry.stock.is_trust %}
						{{entry.border_loss_cut |yen:4 |safe}}
						{% else %}
						{{entry.border_loss_cut |yen |safe}}　
						{% endif %}　
						{% if entry.border_loss_cut > entry.val_sell and entry.is_closed%}
						<label class="badge badge-danger"><i class="fas fa-thumbs-down"></i> Bad</label>
						{%endif%}
					</td>
					<th>損切損失</th>
					<td>
						{{entry.profit_loss_cut |yen |safe}}
						({{entry.border_loss_cut_percent |pct |safe}})
					</td>
				</tr>
				<tr>
					<th>Memo</th>
					<td colspan="3">{{entry.memo |default:"-" |linebreaksbr}}</td>
				</tr>
			</table>
			<hr>

			{%include 'web/modal/modal_info_stock.html' %}
			<hr>

			<a class="btn btn-outline-info" href="{%url 'web:entry_edit' pk=entry.pk%}">
				<i class="fas fa-edit"></i> Edit
			</a>
			{% if entry.is_plan %}
			<a class="btn btn-outline-danger" href="{%url 'web:entry_delete' pk=entry.pk%}">
				<i class="fas fa-trash-alt"></i> Delete
			</a>
			{% endif %}
			<a class="btn btn-outline-secondary" href="{%url 'web:entry_list' %}">
				<i class="fas fa-backward"></i> Back
			</a>
			{% if entry.stock.is_trust %}
			{% include 'web/modal/modal_new_order.html' %}
			{% endif %}
		</div>

		<div class="col-12 col-md-4">
			{% if entry.is_plan %}
			<h5><i class="fas fa-seedling"></i> Plan</h5>
			<table class="table table-responsive-xs">
				<tr>
					<th>予定口数</th>
					<td class="right">{{entry.num_plan |intcomma}}</td>
				</tr>
				<tr>
					<th>予定株価</th>
					<td class="right">{{entry.val_plan |yen}}</td>
				</tr>
				<tr>
					<th>現在株価</th>
					<td class="right">{{overview.val |yen}}</td>
				</tr>
			</table>

			{% elif not entry.is_closed and not entry.is_plan %}
			<h5>Open Status</h5>
			<table class="table table-responsive-xs">
				<tr>
					<th>買付口数/残口数</th>
					<td class="right">
						{{entry.num_buy |intcomma}} / {{entry.remaining |intcomma}}
					</td>
				</tr>
				<tr>
					<th>買付平均/現在株価</th>
					<td class="right">
						{% if entry.stock.is_trust %}
						{{entry.val_buy |yen:4}} / {{overview.val | yen:4}}
						{% else %}
						{{entry.val_buy |yen}} / {{overview.val | yen}}
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>買付総額/現在総額</th>
					<td class="right">
						{{entry.total_buy |yen}} / {{entry.total_now | yen}}
					</td>
				</tr>
				<tr>
					<th>現在利益</th>
					<td class="right">
						{{entry.profit |yen |safe}} / {{entry.profit_pct |pct_100 |safe}}
					</td>
				</tr>
				<tr>
					<th>保有期間</th>
					<td class="right">{{entry.holding_period |intcomma}}日間</td>
				</tr>
				<tr>
					<th>利益/日</th>
					<td class="right">{{entry.profit_per_days |yen |safe}}</td>
				</tr>
			</table>

			{% elif entry.is_closed and not entry.is_plan%}
			<h5><i class="fas fa-tachometer-alt"></i> Result</h5>
			<table class="table table-responsive-xs">
				<tr>
					<th>口数</th>
					<td class="right">{{entry.num_buy |intcomma}}</td>
				</tr>
				<tr>
					<th>買付/売付平均</th>
					<td class="right">
						{% if entry.stock.is_trust %}
						{{entry.val_buy |yen:4 |safe}} / {{entry.val_sell |yen:4 |safe}}
						{% else %}
						{{entry.val_buy |yen |safe}} / {{entry.val_sell |yen |safe}}
						{% endif %}
					</td>
				</tr>
				<tr>
					<th>利益</th>
					<td class="right">
						{{entry.profit |yen |safe}} / {{entry.profit_pct |pct_100 |safe}}
					</td>
				</tr>
				<tr>
					<th>保有期間</th>
					<td class="right">{{entry.holding_period |intcomma}}日間</td>
				</tr>
				<tr>
					<th>利益/日</th>
					<td class="right">{{entry.profit_per_days |yen |safe}}</td>
				</tr>
				<tr>
					<th>Reason</th>
					<td class="right">{{entry.reason_win_loss |default_if_none:"-"}}</td>
				</tr>
			</table>
			{% endif %}

			{% if not entry.is_closed and not entry.is_plan or entry.is_plan %}
			<h5><i class="fas fa-tachometer-alt"></i> Current Status ({{sads.first.date}})</h5>
			<table class="table table-responsive-xs">
	<tr>
					<th>出来高前日比</th>
					<td class="right">
						{{sads.first.turnover_dy_pct |pct_100 |safe}}
					</td>
				</tr>
				<tr>
					<th>終値前日比</th>
					<td class="right">
						{{sads.first.val_close_dy_pct |pct_100 |safe}}
					</td>
				</tr>
				<tr>
					<th>5日移動平均/乖離率</th>
					<td class="right">
						{{sads.first.ma05 |yen}} / {{sads.first.ma05_diff_pct |pct_100 |safe}}
					</td>
				</tr>
				<tr>
					<th>25日移動平均/乖離率</th>
					<td class="right">
						{{sads.first.ma25 |yen}} / {{sads.first.ma25_diff_pct |pct_100 |safe}}
					</td>
				</tr>
				<tr>
					<th>75日移動平均/乖離率</th>
					<td class="right">
						{{sads.first.ma75 |yen}} / {{sads.first.ma75_diff_pct |pct_100 |safe}}
					</td>
				</tr>

				{% if entry.is_plan %}
				{% if not entry.is_closed and not entry.is_in_order and entry.num_plan > 0 %}
				<tr>
					<td colspan="2">
						{% include 'web/part/ajaxbtn_buy_order.html' %}
					</td>
				</tr>
				{% endif %}
				<tr>
					<td colspan="2">
						{% if entry.is_closed %}
						{% include 'web/part/ajaxbtn_activate_entry.html' %}
						{% else %}
						{% include 'web/part/ajaxbtn_deactivate_entry.html' %}
						{% endif %}
					</td>
				</tr>
				{% endif %}
			</table>
			{% endif %}
		</div>
	</div>

	<hr>
	<div class="row">
		<div class="col-12 col-sm-5">
			<h5><i class="fas fa-link"></i> Linked Orders</h5>

			<form action="" method="post">
				<table class="table table-responsive-sm">
					<tr>
						<th></th>
						<th>No.</th>
						<th>Date</th>
						<th>Type</th>
						<th class="right">Num</th>
						<th class="right">Val</th>
					</tr>
					{% for order in orders_linked %}
					<tr>
						<td><input type="checkbox" name="pk" value="{{order.pk}}"></td>
						<td>
							<a href="{%url 'web:order_detail' order_id=order.id%}">{{order.pk}}</a>
						</td>
						<td>{{order.datetime}}</td>
						<td>{% include 'web/part/order_type.html' %}</td>
						<td class="right">{{order.num | intcomma}}</td>
						<td class="right">{{order.val | intcomma}}</td>
					</tr>
					{%endfor%}
				</table>
				<button type="submit" name="post_type" value="unlink_orders" class="btn btn-outline-secondary">
					<i class="fas fa-unlink"></i> Unlink orders
				</button>
				{% include 'web/modal/modal_link_orders.html' %}
				{% csrf_token %}
			</form>


			<hr>
			<h5><i class="far fa-bell"></i> Alert</h5>
			<table class="table">
				<tr>
					<th>No</th>
					<th>Open</th>
					<th>Alert</th>
				</tr>
				{% for sbialert in sbialerts %}
				<tr>
					<td>{{sbialert.id}}</td>
					<td>{{sbialert.created_at}}</td>
					<td>{{sbialert.val |intcomma}} {{sbialert.get_type_display}}</td>
				</tr>
				{% endfor %}
			</table>
			{% include 'web/modal/modal_sbialert.html' %}

			<hr>
			<h5><i class="fas fa-chart-line"></i> Analysis</h5>
			<table class="table table-responsive">
				<tr>
					<th></th>
					<th>日付</th>
					<th>前日比 (終値/出来高)</th>
					<th>種類</th>
				</tr>
				{% for sad in sads %}
				{% if sad.is_having_trend %}
				<tr>
					<td>{% include 'web/modal/modal_info_sad.html' %}</td>

					<td>{{sad.date}}</td>
					<td>
						{{sad.val_close_dy_pct |pct_100 |safe}} / {{sad.turnover_dy_pct |pct_100 |safe}}
					</td>
					<td>
						{% if sad.val_close_dy_pct >= 0.05 %}終値：前日比5%以上<br>{%endif%}
						{% if sad.val_close_dy_pct <= -0.05 %}終値：前日比5%以下<br>{%endif%}
						{% if sad.turnover_dy_pct >= 1 %}出来高：前日比100%以上<br>{%endif%}
						{%if sad.is_harami%}はらみ線<br>{%endif%}
						{%if sad.is_tsutsumi%}包線<br>{%endif%}
						{%if sad.is_takuri%}たくり線<br>{%endif%}
						{%if sad.is_age_sanpo%}上げ三法<br>{%endif%}
						{%if sad.is_sage_sanpo%}下げ三法<br>{%endif%}
						{%if sad.is_sanku_tatakikomi%}三空叩き込み<br>{%endif%}
						{%if sad.is_sante_daiinsen%}三手大陰線<br>{%endif%}
					</td>
				</tr>
				{% endif %}
				{% endfor %}
			</table>
		</div>
		<div class="col-12 col-sm-7">
			<div class="card">
				<div class="card-header">
					<h5 class="card-title">
						{{od}} ~ {{cd}}
						{% include 'web/part/trend_type.html' %}
					</h5>
				</div>
				<div class="card-body">
					<p class="card-title">({{entry.stock.code}}) {{entry.stock.name}}</p>
					<div class="candlestick-1day"></div>
					<hr>
					<p class="card-title">終値</p>
					<canvas id="analysis" width="300" height="150"></canvas>
				</div>
				<div class="card-footer">
				</div>
			</div>
		</div>
	</div>
</div>

{% include 'web/part/chart.html' %}

<script src="/document/js/candlestick.js"></script>
<script>
	window.onload = function() {
		var trades = [
			{% for o in orders_linked %}
			{
				date: "{{o.datetime|date:"Y-m-d"}}",
				type: "{%if o.is_buy%}buy{%else%}sell{%endif%}",
				price: {%if o.stock.is_trust%}100{{o.val}}{%else%}{{o.val}}{%endif%},
				quantity: {{o.num}},
			},
      {% endfor %}
    ];
    var data = [
      {% for svd in svds %}
      {
        Date: "{{svd.date|date:"Y-m-d"}}",
        High: {{svd.val_high}},
        Low: {{svd.val_low}},
        Open: {{svd.val_open}},
        Close: {{svd.val_close}},
        Volume: {{svd.turnover}},
      },
      {% endfor %}
      {% if not entry.is_closed and not entry.stock.is_trust and is_add_graph %}
      {
      	Date: "{{cd |date:"Y-m-d"}}",
      	High: {{overview.val_high}},
      	Low: {{overview.val_low}},
      	Open: {{overview.val_open}},
      	Close: {{overview.val_close}},
      	Volume: {{overview.turnover |default:0}},
      },
      {% endif %}
    ];
		displayCandlestick(data, "1day", trades);
		// 画面をリサイズした時に発火する
		$(window).on("resize", function() {
			displayCandlestick(data, "1day", trades);
		});
	}
</script>

{% endblock %}