{% extends "kakeibo/base.html" %}
{% load humanize %}
{% load web_template %}
{% block title %}
    Main
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<h3><i class="fas fa-paw"></i> New Asset Management System</h3>
		</div>
	</div>

	<hr>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header bg-primary text-white">
					<h4><i class="fas fa-user"></i> {{user}}'s overview</h4>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-12 col-md-4">
							<h5 class="card-title">Asset Status ({{astatus.date |date}})</h5>
							<table class="table">
								<tr>
									<th>
										<i class="fas fa-yen-sign"></i> 総資産
									</th>
									<td class="right">{{astatus.get_total |yen |safe}}</td>
								</tr>
								<tr>
									<th>
										<i class="fas fa-wallet"></i> 投資額
									</th>
									<td class="right">{{astatus.investment |yen |safe}}</td>
								</tr>
								<tr>
									<th>
										<i class="fas fa-percent"></i> 対投資損益
									</th>
									<td class="right">
										{{astatus.get_gp |yen |safe}}
										<br>({{astatus.get_gpr |default:"-" |intcomma}}%)
									</td>
								</tr>
								<tr>
									<th>
										<i class="fas fa-hand-holding-usd"></i> 買付余力
									</th>
									<td class="right">{{astatus.buying_power |yen |safe}}</td>
								</tr>
								<tr>
									<th>
										<i class="fas fa-hand-holding-usd"></i> 保有株資産
									</th>
									<td class="right">{{astatus.sum_stock |yen |safe}}</td>
								</tr>
								<tr>
									<th>
										<i class="fas fa-hand-holding-usd"></i> 保有信託資産
									</th>
									<td class="right">{{astatus.sum_trust |yen |safe}}</td>
								</tr>
							</table>
						</div>

						<div class="col-12 col-md-8">
							<h5 class="card-title">Open Entry</h5>
							<table class="table table-responsive">
								<thead>
									<tr>
										<th>No.</th>
										<th>Stock</th>
										<th>Open</th>
										<th class="right">Profit</th>
										<th class="right">Remaining</th>
									</tr>
								</thead>
								<tbody>
								{% for entry in open_entrys %}
								<tr>
									<td>
										<a href="{% url 'web:entry_detail' pk=entry.pk %}">{{entry.pk}}</a>
									</td>
									<td>{{entry.stock}}</td>
									<td>{{entry.date_open |date}}</td>
									<td class="right">{{entry.profit |yen |safe}}</td>
									<td class="right">{{entry.remaining |intcomma}}</td>
								</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="card-footer">
					{% include 'web/modal/modal_investment.html' %}
					{% include 'web/part/ajaxbtn_get_orders.html' %}
					<a href="https://datastudio.google.com/u/0/reporting/1pymHrwsmAF6OSbVuXseIAazF3ByPMYWq/page/cCEBB"
						 class="btn btn-info"
							target="_blank">
						<i class="fas fa-tachometer-alt"></i> Data Studio
					</a>
				</div>
			</div>
		</div>
	</div>

	<hr>
	<div class="row">
    <div class="col-12">
	    <div class="card">
		    <div class="card-header bg-dark text-white">
					<h4><i class="fas fa-clipboard-list"></i> Entry</h4>
		    </div>
		    <div class="card-body">
			    <table class="table table-responsive">
				    <thead>
				      <tr>
					      <th>No.</th>
					      <th>Stock</th>
					      <th>Status</th>
					      <th>Open</th>
					      <th>Close</th>
					      <th class="right">Profit</th>
								<th class="right">Remaining</th>
				      </tr>
				    </thead>
				    <tbody>
				      {% for entry in entrys %}
				      <tr>
					      <td>
						      <a href="{% url 'web:entry_detail' pk=entry.pk %}">{{entry.pk}}</a>
					      </td>
				        <td>{{entry.stock}}</td>
					      <td>
						      <h5>
						      {% include 'web/part/entry_type.html' %}
						      </h5>
					      </td>
					      <td>{{entry.date_open |default_if_none:"-"}}</td>
					      <td>{{entry.date_close |default_if_none:"-"}}</td>
					      <td class="right">{{entry.profit |yen |safe}}</td>
					      <td class="right">{{entry.remaining |intcomma}}</td>
				      </tr>
				      {% endfor %}
				    </tbody>
			    </table>
		    </div>
		    <div class="card-footer">
			    <a class="btn btn-secondary" href="{%url 'web:entry_list'%}">
				    <i class="fas fa-list-alt"></i> Entrys
			    </a>
			    <a class="btn btn-secondary" href="{%url 'web:order_list'%}">
				    <i class="fas fa-list-alt"></i> Orders
			    </a>
			    <a class="btn btn-secondary" href="{%url 'web:stock_list'%}">
				    <i class="fas fa-list-alt"></i> Stocks
			    </a>
		    </div>
	    </div>
    </div>
  </div>

	{% if request.user.is_superuser %}
	<hr>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header bg-success text-white">
					<h4><i class="fas fa-tasks"></i> Celery Tasks</h4>
				</div>
				<div class="card-body">
					<h5 class="card-title">Tasks</h5>
					<table class="table table-responsive">
						<tr>
							<th>ID</th>
							<th>Status</th>
							<th>Date</th>
							<th>Name</th>
							<th>Args</th>
						</tr>
						{% for task in tasks %}
						<tr>
							<td>
								<a href="/admin/django_celery_results/taskresult/{{task.id}}">
								{{task.task_id　|truncatechars:20}}
								</a>
							</td>
							<td>
								{%if task.status == "SUCCESS"%}
								<label class="badge badge-pill badge-success">{{task.status}}</label>
								{%else%}
								<label class="badge badge-pill badge-danger">{{task.status}}</label>
								{%endif%}
							</td>
							<td>{{task.date_done | date}}</td>
							<td>{{task.task_name}}</td>
							<td>{{task.task_args}}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
				<div class="card-footer">
					{{msg}}
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}

