{% extends "kakeibo/base.html" %}
{% load humanize %}
{% load web_template %}
{% block title %}
    Main
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<h3><i class="fas fa-paw"></i> New Asset Management System</h3>
		</div>
	</div>

	<hr>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header bg-primary text-white">
					<h4>
						<i class="fas fa-user"></i> Overview ({{user}} / {{astatus.date |date}})
					</h4>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-12 col-md-4">
							<h5 class="card-title">
								<i class="fas fa-tachometer-alt"></i> Asset Status
								<label class="badge badge-{%if total > astatus.get_total%}success{%else%}danger{%endif%}">
									{{total |yen |safe}} / 前日比{{diff |yen_no_color |safe}}
								</label>
							</h5>
							<table class="table table-responsive-sm">
								<tr>
									<th>
										<i class="fas fa-yen-sign"></i> 総資産
									</th>
									<td class="right">{{astatus.get_total |yen |safe}}</td>
								</tr>
								<tr>
									<th>
										<i class="fas fa-wallet"></i> 投資額
									</th>
									<td class="right">{{astatus.investment |yen |safe}}</td>
								</tr>
								<tr>
									<th>
										<i class="fas fa-percent"></i> 対投資損益
									</th>
									<td class="right">
										{{astatus.get_gp |yen |safe}}
										<br>({{astatus.get_gpr |pct |safe}})
									</td>
								</tr>
								<tr>
									<th>
										<i class="fas fa-hand-holding-usd"></i> 買付余力
									</th>
									<td class="right">{{astatus.buying_power |yen |safe}}</td>
								</tr>
								<tr>
									<th>
										<i class="fas fa-hand-holding-usd"></i> 保有株資産
									</th>
									<td class="right">{{astatus.sum_stock |yen |safe}}</td>
								</tr>
								<tr>
									<th>
										<i class="fas fa-hand-holding-usd"></i> 保有信託資産
									</th>
									<td class="right">{{astatus.sum_trust |yen |safe}}</td>
								</tr>
							</table>
						</div>

						<div class="col-12 col-md-8">
							<h5 class="card-title">
								<i class="fas fa-spa"></i> Open Entry
							</h5>
							<table class="table table-responsive-sm">
								<thead>
									<tr>
										<th></th>
										<th>銘柄</th>
										<th>タイプ</th>
										<th>株価</th>
										<th>利益</th>
										<th>口数</th>
										<th>期間</th>
									</tr>
								</thead>
								<tbody>
								{% for entry in open_entrys %}
								<tr>
									<td>
										<a href="{% url 'web:entry_detail' pk=entry.pk %}">
											<i class="fas fa-info-circle"></i>
										</a>
									</td>
									<td>{{entry.stock |truncatechars:20}}</td>
									<td>
										{%include 'web/part/entry_type.html'%}
									</td>
									<td class="right">
										{% if entry.stock.is_trust %}
										{{entry.stock.current_val |yen:4}}
										{% else %}
										{{entry.stock.current_val |yen}}
										{% endif %}
									</td>
									<td class="right">
										{{entry.profit |yen |safe}}
										<br>({{entry.profit_pct |pct_100 |safe}})
									</td>
									<td class="right">{{entry.remaining |intcomma}}</td>
									<td class="right">{{entry.holding_period |intcomma}}日</td>
								</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="card-footer">
					{% include 'web/modal/modal_investment.html' %}
					<a href="https://datastudio.google.com/u/0/reporting/1pymHrwsmAF6OSbVuXseIAazF3ByPMYWq/page/cCEBB"
						 class="btn btn-info"
							target="_blank">
						<i class="fas fa-tachometer-alt"></i> Data Studio
					</a>
				</div>
			</div>
		</div>
	</div>

	<hr>
	<div class="row">
    <div class="col-12">
	    <div class="card">
		    <div class="card-header bg-warning text-black">
					<h4>
						<i class="far fa-hand-point-right"></i> Next Plans
					</h4>
		    </div>

		    <div class="card-body">
					<div class="row">
						<div class="col-12 col-md-12">
							{% if plan_entrys %}
							<h5 class="card-title">
								<i class="fas fa-seedling"></i> Plan Entry
							</h5>
							<table class="table table-responsive-sm">
								<thead>
									<tr>
										<th></th>
										<th>銘柄</th>
										<th>タイプ</th>
										<th>口数</th>
										<th>予定</th>
										<th>現在</th>
										<th>更新日</th>
										<th>メモ</th>
									</tr>
								</thead>
								<tbody>
								{% for entry in plan_entrys %}
								<tr>
									<td>
										<a href="{% url 'web:entry_detail' pk=entry.pk %}">
											<i class="fas fa-info-circle"></i>
										</a>
									</td>
									<td>{{entry.stock |truncatechars:30}}</td>
									<td>{%include 'web/part/entry_type.html'%}</td>
									<td class="right">{{entry.num_plan |intcomma}}</td>
									<td class="right">{{entry.val_plan |yen |safe}}</td>
									<td class="right">{{entry.stock.current_val |yen |safe}}</td>
									<td>{{entry.updated_at}}</td>
									<td>{{entry.memo |truncatechars:300 |linebreaksbr}}</td>
								</tr>
								{% endfor %}
								</tbody>
							</table>
							{% endif %}
						</div>

						<div class="col-12 col-md-12">
							<h5 class="card-title">
								<i class="fas fa-chart-line"></i> Analysis
							</h5>
							<table class="table table-responsive-sm">
								<tr>
									<th>日付</th>
									<th>銘柄</th>
									<th>終値前日比率</th>
									<th>出来高前日比率</th>
									<th>トレンド/乖離率（5日/25日/75日）</th>
									<th></th>
								</tr>
								{% for sad in sads %}
								<tr>
									<td>{{sad.date |naturalday}}</td>
									<td>
										<a href="{%url 'web:stock_detail' stock_code=sad.stock.code %}">{{sad.stock　|truncatechars:20}}</a>
									</td>
									<td class="right">{{sad.val_close_dy_pct |pct_100 |safe}}</td>
									<td class="right">{{sad.turnover_dy_pct |pct_100 |safe}}</td>
									<td>
										{{sad.ma05_diff_pct |pct_100 |safe}}
										{% if sad.is_upper05 %}
										<label class="badge badge-success"><i class="fas fa-level-up-alt"></i></label>
										{% else %}
										<label class="badge badge-danger"><i class="fas fa-level-down-alt"></i></label>
										{% endif %}
									/
										{{sad.ma25_diff_pct |pct_100 |safe}}
										{% if sad.is_upper25 %}
										<label class="badge badge-success"><i class="fas fa-level-up-alt"></i></label>
										{% else %}
										<label class="badge badge-danger"><i class="fas fa-level-down-alt"></i></label>
										{% endif %}
									/
										{{sad.ma75_diff_pct |pct_100 |safe}}
										{% if sad.is_upper75 %}
										<label class="badge badge-success"><i class="fas fa-level-up-alt"></i></label>
										{% else %}
										<label class="badge badge-danger"><i class="fas fa-level-down-alt"></i></label>
										{% endif %}
									</td>
									<td>
										{%if sad.is_harami%}はらみ線、{%endif%}
										{%if sad.is_tsutsumi%}包線、{%endif%}
										{%if sad.is_takuri%}たくり線、{%endif%}
										{%if sad.is_age_sanpo%}上げ三法、{%endif%}
										{%if sad.is_sage_sanpo%}下げ三法、{%endif%}
										{%if sad.is_sanku_tatakikomi%}三空叩き込み、{%endif%}
										{%if sad.is_sante_daiinsen%}三手大陰線、{%endif%}
									</td>
								</tr>
								{% endfor %}
							</table>
<!--							<hr>-->
<!--							<table class="table table-responsive-sm">-->
<!--								<tr>-->
<!--									<th>日付</th>-->
<!--									<th>銘柄</th>-->
<!--									<th>タイプ</th>-->
<!--									<th>終値前日比</th>-->
<!--									<th>出来高前日比</th>-->
<!--									<th>5日トレンド</th>-->
<!--									<th>25日トレンド</th>-->
<!--									<th>75日トレンド</th>-->
<!--								</tr>-->
<!--								{% for c in checks %}-->
<!--								<tr>-->
<!--									<td>{{c.df.date |naturalday}}</td>-->
<!--									<td>-->
<!--										<a href="{%url 'web:stock_detail' stock_code=c.df.code%}">-->
<!--											{{c.df.stock}}-->
<!--										</a>-->
<!--									</td>-->
<!--									<td>-->
<!--										<label class="badge badge-{%if c.is_bottom%}success{%else%}danger{%endif%}">-->
<!--											{{c.type}}-->
<!--										</label>-->
<!--									</td>-->
<!--									<td>{{c.df.val_close_dy_pct |pct_100 |safe}}</td>-->
<!--									<td>{{c.df.turnover_dy_pct |pct_100 |safe}}</td>-->
<!--									<td>-->
<!--										{% if c.df.is_upper05 %}-->
<!--										<label class="badge badge-success">-->
<!--											<i class="fas fa-level-up-alt"></i>-->
<!--										</label>-->
<!--										{% else %}-->
<!--										<label class="badge badge-danger">-->
<!--											<i class="fas fa-level-down-alt"></i>-->
<!--										</label>-->
<!--										{% endif %}-->
<!--									</td>-->
<!--									<td>-->
<!--										{% if c.df.is_upper25 %}-->
<!--										<label class="badge badge-success">-->
<!--											<i class="fas fa-level-up-alt"></i>-->
<!--										</label>-->
<!--										{% else %}-->
<!--										<label class="badge badge-danger">-->
<!--											<i class="fas fa-level-down-alt"></i>-->
<!--										</label>-->
<!--										{% endif %}-->
<!--									</td>-->
<!--									<td>-->
<!--										{% if c.df.is_upper75 %}-->
<!--										<label class="badge badge-success">-->
<!--											<i class="fas fa-level-up-alt"></i>-->
<!--										</label>-->
<!--										{% else %}-->
<!--										<label class="badge badge-danger">-->
<!--											<i class="fas fa-level-down-alt"></i>-->
<!--										</label>-->
<!--										{% endif %}-->
<!--									</td>-->
<!--								</tr>-->
<!--								{% endfor %}-->
<!--							</table>-->
						</div>

					</div>
				</div>
				<div class="card-footer">
		    </div>
	    </div>
		</div>
	</div>

	<hr>
	<div class="row">
    <div class="col-12">
	    <div class="card">
		    <div class="card-header bg-dark text-white">
					<h4>
						<i class="fas fa-leaf"></i> Closed Entry
					</h4>
		    </div>
		    <div class="card-body">
			    <table class="table table-responsive-sm">
				    <thead>
				      <tr>
					      <th></th>
					      <th>Stock</th>
					      <th>Status</th>
					      <th>Open</th>
					      <th>Close</th>
					      <th class="right">Profit</th>
								<th class="right">Remaining</th>
				      </tr>
				    </thead>
				    <tbody>
				      {% for entry in entrys %}
				      <tr>
					      <td>
						      <a href="{% url 'web:entry_detail' pk=entry.pk %}">
										<i class="fas fa-info-circle"></i>
									</a>
					      </td>
				        <td>{{entry.stock}}</td>
					      <td>
						      <h5>
						      {% include 'web/part/entry_close_status.html' %}
						      </h5>
					      </td>
					      <td>{{entry.date_open |default_if_none:"-"}}</td>
					      <td>{{entry.date_close |default_if_none:"-"}}</td>
					      <td class="right">{{entry.profit |yen |safe}}</td>
					      <td class="right">{{entry.remaining |intcomma}}</td>
				      </tr>
				      {% endfor %}
				    </tbody>
			    </table>
		    </div>
		    <div class="card-footer">
			    <a class="btn btn-secondary" href="{%url 'web:entry_list'%}">
				    <i class="fas fa-list-alt"></i> Entrys
			    </a>
			    <a class="btn btn-secondary" href="{%url 'web:order_list'%}">
				    <i class="fas fa-list-alt"></i> Orders
			    </a>
			    <a class="btn btn-secondary" href="{%url 'web:stock_list'%}">
				    <i class="fas fa-list-alt"></i> Stocks
			    </a>
		    </div>
	    </div>
    </div>
  </div>

	{% if request.user.is_superuser %}
	<hr>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header bg-success text-white">
					<h4><i class="fas fa-tasks"></i> Celery Tasks</h4>
				</div>
				<div class="card-body">
					<h5 class="card-title">Tasks</h5>
					<table class="table table-responsive">
						<tr>
							<th>ID</th>
							<th>Status</th>
							<th>Date</th>
							<th>Name</th>
							<th>Args</th>
						</tr>
						{% for task in tasks %}
						<tr>
							<td>
								<a href="/admin/django_celery_results/taskresult/{{task.id}}">
								{{task.task_id　|truncatechars:20}}
								</a>
							</td>
							<td>
								{%if task.status == "SUCCESS"%}
								<label class="badge badge-pill badge-success">{{task.status}}</label>
								{%else%}
								<label class="badge badge-pill badge-danger">{{task.status}}</label>
								{%endif%}
							</td>
							<td>{{task.date_done | date}}</td>
							<td>{{task.task_name}}</td>
							<td>{{task.task_args}}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
				<div class="card-footer">
					{{msg}}
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}

