{% extends "kakeibo/base.html" %}
{% load humanize %}
{% load static %}
{% block title %}
    Order View
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<h4><i class="fas fa-paw"></i> Order Detail</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-sm-6">
			<table class="table table-responsive">
				<tr>
					<th>No</th>
					<td>{{order.id}}</td>
				</tr>
				<tr>
					<th>Stock</th>
					<td>
						<a href="{%url 'web:stock_detail' order.stock.code%}">{{order.stock}}</a>
					</td>
				</tr>
				<tr>
					<th>Datetime</th>
					<td>{{order.datetime}}</td>
				</tr>
				<tr>
					<th>Type</th>
					<td>{% include 'web/part/order_type.html' %}</td>
				</tr>
				<tr>
					<th>Num</th>
					<td>{{order.num |intcomma}}</td>
				</tr>
				<tr>
					<th>Val</th>
					<td>¥{{order.val |intcomma}}</td>
				</tr>
				<tr>
					<th>Commission</th>
					<td>¥{{order.commission |intcomma}}</td>
				</tr>
				<tr>
					<th>Entry</th>
					<td>
						{% if order.entry %}
						<a href="{%url 'web:entry_detail' pk=order.entry.id%}">
							{{order.entry}}
						</a>
						{%else%}-{%endif%}
					</td>
				</tr>
				<tr>
					<th>Chart</th>
					<td>{{order.chart}}</td>
				</tr>
				{% if order.fkmanage_id %}
				<tr>
					<th>fmanage_id</th>
					<td><a href="/admin/asset/orders/{{order.fkmanage_id}}/change/">Link</a></td>
				</tr>
				{% endif %}
			</table>
			<a class="btn btn-outline-info" href="{%url 'web:order_edit' order_id=order.pk%}">
				<i class="fas fa-edit"></i> Edit
			</a>
			<a class="btn btn-outline-secondary" href="{%url 'web:order_list' %}">
				<i class="fas fa-backward"></i> Back
			</a>
		</div>
		<div class="col-12 col-sm-6">
			<img src="{{order.chart.url}}">
		</div>
	</div>
</div>
{% endblock %}