{% extends "kakeibo/base.html" %}
{% load humanize %}
{% load web_template %}
{% block title %}
    Stock Detail {{stock}}
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<h4>
				<i class="fas fa-paw"></i> Stock Detail
				{%if stock.is_trust%}
				<label class="badge badge-info">投資信託</label>
				{%else%}
				<label class="badge badge-success">株</label>
				{%endif%}
			</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-sm-6">
			<h5><i class="fas fa-info-circle"></i> Overview</h5>
			<table class="table table-responsive-sm">
				<tr>
					<th>銘柄</th>
					<td>{{stock}}</td>
				</tr>
				<tr>
					<th>市場</th>
					<td>{{stock.market |default:"-"}}</td>
				</tr>
				<tr>
					<th>産業</th>
					<td>{{stock.industry |default:"-"}}</td>
				</tr>
				{% if not stock.is_trust and not stock.industry == 'ETF' %}
				<tr>
					<th>特色</th>
					<td>{{stock.feature}}</td>
				</tr>
				<tr>
					<th>連結事業</th>
					<td>{{stock.consolidated_business}}</td>
				</tr>
				<tr>
					<th>決算</th>
					<td>{{stock.settlement_date}}</td>
				</tr>
				<tr>
					<th>単元株数</th>
					<td>{{stock.unit}}</td>
				</tr>
				{% endif %}
			</table>
		</div>
		<div class="col-12 col-sm-6">
			<h5><i class="fas fa-tachometer-alt"></i> Current Status</h5>
			<table class="table table-responsive-sm">
				<tr>
					<th>終値⇛現在値</th>
					<th>終値前日比</th>
					<th>出来高前日比</th>
				</tr>
				<tr>
					<td>
						{{df_latest.val_close |yen}} ({{df_latest.date}})
						<br>
						⇛ {%if stock.is_trust%} {{current_val |yen:4}}
						{%else%}{{current_val |yen}}{%endif%}

					</td>
					<td>
						{{df_latest.val_close_diff_pct |pct}}
					</td>
					<td>
						{{df_latest.turnover_diff_pct |pct |safe}}
					</td>
				</tr>
				<tr>
					<th>5日移動平均/乖離率</th>
					<th>25日移動平均/乖離率</th>
					<th>75日移動平均/乖離率</th>
				</tr>
				<tr>
					<td>
						{{df_latest.ma_5 |yen}} / {{df_latest.diff_ma_5_pct |pct_100 |safe}}
					</td>
					<td>
						{{df_latest.ma_25 |yen}} / {{df_latest.diff_ma_25_pct |pct_100 |safe}}
					</td>
					<td>
						{{df_latest.ma_75 |yen}} / {{df_latest.diff_ma_75_pct |pct_100 |safe}}
					</td>
				</tr>
			</table>
			<h5><i class="far fa-list-alt"></i> Entry</h5>
			<table class="table table-responsive-sm">
				<tr>
					<th>No</th>
					<th>Type</th>
					<th>Status</th>
					<th>Open</th>
					<th>Close</th>
					<th>Profit</th>
				</tr>
				{% for entry in stock.entry_set.all %}
				<tr>
					<td>
						<a href="{%url 'web:entry_detail' pk=entry.id %}">
							{{entry.id}}
						</a>
					</td>
					<td>
						{% include 'web/part/entry_type.html' %}
					</td>
					<td>
						{% include 'web/part/entry_close_status.html' %}
					</td>
					<td>{{entry.date_open |date}}</td>
					<td>{{entry.date_close |date}}</td>
					<td class="right">{{entry.profit |yen |safe}}</td>
				</tr>
				{% endfor %}
			</table>

			<h5><i class="far fa-bell"></i> Alert</h5>
			<table class="table table-responsive-sm">
				<tr>
					<th>No</th>
					<th>Open</th>
					<th>Alert</th>
				</tr>
				{% for sbialert in sbialerts %}
				<tr>
					<td>{{sbialert.id}}</td>
					<td>{{sbialert.created_at}}</td>
					<td>{{sbialert.val}} {{sbialert.get_type_display}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			{% include 'web/modal/modal_sbialert.html' %}
			{% include 'web/modal/modal_new_entry.html' %}
			<a class="btn btn-outline-secondary" href="{%url 'web:stock_list' %}">
				<i class="fas fa-backward"></i> Back to list
			</a>
		</div>
	</div>

	<hr>
	<div class="row">
		<div class="col-12 col-sm-8">
			<h5>
				<i class="fas fa-chart-line"></i> Chart
			</h5>
			<p class="card-title">{{svds.first.date}} ~ {{svds.last.date}}</p>
			<div class="candlestick-1day"></div>
			<p class="card-title">終値</p>
			<canvas id="analysis" width="300" height="150"></canvas>
		</div>

		<div class="col-12 col-sm-4">
			<h5>
				<i class="fas fa-chart-line"></i> Analysis
			</h5>
			{% include 'web/part/trend_type.html' %}
			<table class="table table-responsive">
				<tr>
					<th>日付</th>
					<th>タイプ</th>
					<th>終値前日比</th>
					<th>出来高前日比</th>
					<th>5日</th>
					<th>25日</th>
					<th>75日</th>
				</tr>
				{% for d in df_check %}
				<tr>
					<td>{{d.df.date |naturalday}}</td>
					<td>
						<label class="badge badge-{%if c.is_bottom%}success{%else%}danger{%endif%}">
							{{d.type}}
						</label>
					</td>
					<td>{{d.df.val_close_diff_pct |pct |safe}}</td>
					<td>{{d.df.turnover_diff_pct |pct |safe}}</td>
					<td>
						{% if d.df.is_upper_5 %}
						<label class="badge badge-success">
							<i class="fas fa-level-up-alt"></i>
						</label>
						{% else %}
						<label class="badge badge-danger">
							<i class="fas fa-level-down-alt"></i>
						</label>
						{% endif %}
					</td>
					<td>
						{% if d.df.is_upper_25 %}
						<label class="badge badge-success">
							<i class="fas fa-level-up-alt"></i>
						</label>
						{% else %}
						<label class="badge badge-danger">
							<i class="fas fa-level-down-alt"></i>
						</label>
						{% endif %}
					</td>
					<td>
						{% if d.df.is_upper_75 %}
						<label class="badge badge-success">
							<i class="fas fa-level-up-alt"></i>
						</label>
						{% else %}
						<label class="badge badge-danger">
							<i class="fas fa-level-down-alt"></i>
						</label>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
<!--		<div class="col-12 col-sm-4">-->
<!--			<div class="card">-->
<!--				<div class="card-header">-->
<!--					<h5>Finance {% include 'web/part/finance_type.html' %}</h5>-->
<!--				</div>-->
<!--				<div class="card-body">-->
<!--					{%with sfd=sfds.last%}-->
<!--					<table class="table table-responsive-sm">-->
<!--						<tr>-->
<!--							<th>ROE</th>-->
<!--							<td>{{sfd.roe}}</td>-->
<!--						</tr>-->
<!--						<tr>-->
<!--							<th>ROA</th>-->
<!--							<td>{{sfd.roa}}</td>-->
<!--						</tr>-->
<!--						<tr>-->
<!--							<th>EPS</th>-->
<!--							<td>{{sfd.eps_f}}</td>-->
<!--						</tr>-->
<!--						<tr>-->
<!--							<th>PER</th>-->
<!--							<td>{{sfd.per_f}}</td>-->
<!--						</tr>-->
<!--						<tr>-->
<!--							<th>時価総額</th>-->
<!--							<td>{{sfd.market_value |intcomma}}</td>-->
<!--						</tr>-->
<!--						<tr>-->
<!--							<th>自己資本比率</th>-->
<!--							<td>{{sfd.equity_ratio}}%</td>-->
<!--						</tr>-->
<!--					</table>-->
<!--					{%endwith%}-->
<!--				</div>-->
<!--				<div class="card-footer">-->

<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
	</div>
</div>
{% include 'web/part/chart.html' %}

<script src="/document/js/candlestick.js"></script>
<script>
	window.onload = function() {
		var trades = [
			{% for o in entry.order_set.all %}
			{
				date: "{{o.datetime|date:"Y-m-d"}}",
				type: "{%if o.is_buy%}buy{%else%}sell{%endif%}",
				price: {{o.val}},
				quantity: {{o.num}},
			},
      {% endfor %}
    ];
    var data = [
      {% for svd in svds %}
      {
        Date: "{{svd.date|date:"Y-m-d"}}",
        High: {{svd.val_high}},
        Low: {{svd.val_low}},
        Open: {{svd.val_open}},
        Close: {{svd.val_close}},
        Volume: {{svd.turnover}},
      },
      {% endfor %}
    ];
		displayCandlestick(data, "1day", trades);
		// 画面をリサイズした時に発火する
		$(window).on("resize", function() {
			displayCandlestick(data, "1day", trades);
		});
	}
</script>

{% endblock %}